[2017-03-19 21:23] DmitrySoshnikov opened #1 "Parser: check for correct boundaries in char class range"
This should be a syntax error since `a` is less than `z`:

[code]

We should check it in static semantic with `checkClassRange` function.

Test: https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/__tests__/parser-test262-test.js#L41

Info: https://github.com/tc39/test262/blob/master/test/built-ins/RegExp/15.10.2.15-6-1.js

[2017-03-19 21:25] DmitrySoshnikov opened #2 "Parser: check for correct boundaries in quantifier ranges"
This should be a syntax error, since max range is finite, and less than the min value:

[code]

We should check it in static semantic with `checkQuantifierRange` function.

Test: https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/__tests__/parser-test262-test.js#L45

Info: https://github.com/tc39/test262/blob/master/test/built-ins/RegExp/15.10.2.5-3-1.js

[2017-03-20 17:53] DmitrySoshnikov opened #3 "Optional symbols in LA assertions"
This should be normally parsable:

[code]

We should remove `OptDisjunction`, and make `Alternative` an empty node.

[2017-03-20 18:02] DmitrySoshnikov commented on #3
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/df30f3cbde70b20117152098180414c7afdd0543.

[2017-03-20 18:02] #3 closed

[2017-03-20 18:16] DmitrySoshnikov opened #4 "Show symbol for char-code nodes"
For HEX, Octal, Decimal, and Unicode char codes we can show also an actual symbol corresponding to the code:

[code]

Currently produces:

[code]

We should add `symbol` property to the node:

[code]

[2017-03-22 21:40] DmitrySoshnikov opened #5 "Implement code generator from AST"
An oposite operation to parsing, code generation.

The issue depends on ~[issue #6](https://github.com/DmitrySoshnikov/regexp-tree/issues/6)~ (traversing an AST, we should just generate code for each AST-node).

See [TODO item](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/index.js#L55-L57), generator lives in [src/generator](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/

[2017-03-22 21:43] DmitrySoshnikov opened #6 "Implement AST traversal module"
To traverse an AST:

[code]

See [TODO item](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/index.js#L42-L44), traverse lives in [src/traverse](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/traverse).

[2017-03-24 20:22] DmitrySoshnikov commented on #6
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/e7c99bd7b044361742369f55a0d5e281c9e0e2be.

[2017-03-24 20:22] #6 closed

[2017-03-28 04:26] DmitrySoshnikov opened #7 "Implement transform module"
The `transform` method is a wrapper on top of "parse-traverse-generate" tool chain. Getting a regular expression string, and the nodes handler, `transform` should return a new (transformed) regular expression.

The issue depend on ~[issue #5](https://github.com/DmitrySoshnikov/regexp-tree/issues/5)~.

An example of manual traversal, and code generation is shown in the [Using traversal API](https:/

[2017-03-28 07:54] DmitrySoshnikov commented on #5
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/3beb584ee03e1ea021c9f11e68a2115241240534.

[2017-03-28 07:54] #5 closed

[2017-03-28 08:24] mathiasbynens opened #8 "`/\e/u` should throw"
`/\e/u` is an invalid regular expression: https://mathiasbynens.be/notes/es6-unicode-regex#impact-syntax

So instead of parsing, I’d expect this to throw:

[code]

[2017-03-28 08:34] mathiasbynens opened #9 "`generate(…)` returns `undefined`"
After `npm install regexp-tree@0.0.11`:

[code]

[2017-03-28 08:45] DmitrySoshnikov commented on #9
Thanks! Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/ea92fcfa809e83d4b3e5692b43df981a2379ca32 (and in `0.0.12`).

[2017-03-28 08:45] #9 closed

[2017-03-28 08:50] DmitrySoshnikov commented on #8
Good catch! Currently there is a bug then with parsing `\u{...}` notation as well -- it's always is parsed as a unicode (even without `u` flag) instead of alternative.

[2017-03-28 09:40] mathiasbynens opened #10 "Why is `\a` special-cased?"
Why is `\a` special (i.e. marked as `meta`)? https://github.com/DmitrySoshnikov/regexp-tree/blob/f4c21f12888efff7088fc7734db3273920150bcd/src/generator/__tests__/generator-basic-test.js#L51

[code]

Is it not just a simple escape like e.g. `\e`?

[code]

[2017-03-28 16:50] DmitrySoshnikov commented on #10
Ah, seems I had in mind Ruby's `\A` (same as `^`) when made this typo. In any case `\a` is not correct, and we're not going to support `\A` either yet, so we should remove `a` from [special chars](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L65). Thanks for the catch!

[2017-03-28 17:42] DmitrySoshnikov commented on #10
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/499d82673fd71307d2cec96521e6ca5f15ad07de (and in `0.0.14`).

[2017-03-28 17:42] #10 closed

[2017-03-29 01:37] DmitrySoshnikov opened #11 "Make flags an alpha-sorted string"
Currently flags is an array, we should make it as an alphabetically sorted string, as in [RegExp.prototype.flags](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp/flags).

[code]

Should be:

[code]

[2017-03-29 01:43] DmitrySoshnikov opened #12 "Add `fromRegExp` method"
The `fromRegExp` method should accept an actual regular expression object, and return a parsed AST for it. This is a counterpart for the `toRegExp` method.

[code]

[2017-03-29 01:48] DmitrySoshnikov opened #13 "It should be SyntaxError if Unicode code point is greater than 0x10FFFF"
This should be an invalid regexp:

[code]

The max value which should be checked is `0x10FFFF`.

[2017-03-29 08:56] mathiasbynens commented on #10
499d82673fd71307d2cec96521e6ca5f15ad07de removed `b` and `B` too. Was that intentional?

[2017-03-29 08:59] mathiasbynens opened #14 "Unicode code point escapes should accept any number of digits"
E.g. this is correct:

[code]

However, this parses incorrectly:

[code]

[2017-03-29 17:09] DmitrySoshnikov commented on #10
Yeah, they were unnecessary there, since `\b`, and `\B` are [handled separately](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L51-L52) yielding different token types, and are [parsed](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L279-L280) as `Assertion`, not as a meta `Char`. And in a character class `[\b]` it's handled as we

[2017-03-29 17:11] DmitrySoshnikov commented on #14
I was just re-reading your article with leading zeros example :) Practically shouldn't happen, but, yeah, [this](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L61) should be `{1,}`, not `{1,6}`.

[2017-03-29 18:57] DmitrySoshnikov commented on #14
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/533ad94d6c4cba4408fd5b2d35cc225b8cb6fce5.

[2017-03-29 18:57] #14 closed

[2017-03-30 05:17] #11 closed

[2017-03-30 05:28] DmitrySoshnikov opened #19 "Transform: Add `replaceWith` method"
Currently transforming a node is easy, however in order to _replace_ a node, one have to do more actions handling more params (`parent`, and `prop`). It'd be good to abstract this operation with the `replaceWith` method on the traversal module.

Modify node:

[code]

Replace a node (current approach):

[code]

Replace with the method (in `transform` module):

[code]

Under the hood, the traversal

[2017-03-30 05:54] DmitrySoshnikov opened #20 "Generator: fix empty groups"
This currently throws in the generator:

[code]

[2017-03-30 06:11] #12 closed

[2017-03-30 06:50] DmitrySoshnikov opened #21 "Implement optimizer module"
Optimizer module should transform a regular expression into an _optimized_ version, replacing some sub-expressions with their idiomatic patterns. This might be good for different kinds of minifiers, as well as for regexp machines.

Example:

[code]

Is transformed into:

[code]

We can implement the optimizer as a set of small transforms (this depends on [issue #7](https://github.com/DmitrySoshnik

[2017-03-30 07:12] DmitrySoshnikov opened #22 "Transform: Add `remove` method"
We should be able to remove needed node:

To replace this:

[code]

With this:

[code]

We need to remove first `Char` node:

[code]

[2017-03-30 07:40] mathiasbynens commented on #21
Keep in mind that the `u` flag (or [the combination of the `u` and `i` flag](https://mathiasbynens.be/notes/es6-unicode-regex#impact-i)) impacts some of these transformations.

[2017-03-30 07:43] DmitrySoshnikov commented on #21
@mathiasbynens, yeah, good point. This should probably be done only if `u` is not set (unless there are better options).

[2017-03-30 07:52] DmitrySoshnikov opened #23 "Implement plugins system"
I'd be good in the `transform` API (issue #7) to accept a list of plugins:

[code]

Plugins are applied in order. If a node is removed by one plugin, further plugins in the list aren't applied, and the next node is proceeded.

**API:**

[code]

This issue depends on [issue #7](https://github.com/DmitrySoshnikov/regexp-tree/issues/7).

[2017-03-30 17:13] #20 closed

[2017-04-01 07:19] DmitrySoshnikov opened #26 "Parser: support "dotAll" \s flag"
The new "dotAll" `\s` flag matches all symbols, including line terminators (https://github.com/mathiasbynens/es-regexp-dotall-flag). This proposal is at stage 3, so it's safe to add it. NOTE: `toRegExp` won't work with it, but having it in parser is fine.

[2017-04-01 07:28] DmitrySoshnikov opened #27 "Parser: support lookbehind assertions"
The [lookbehind assertions](https://tc39.github.io/proposal-regexp-lookbehind/) are at stage 3, so it's safe to add them to the parser.

[code]

[2017-04-01 07:31] DmitrySoshnikov opened #28 "Parser: support named groups"
The [named groups](https://github.com/tc39/proposal-regexp-named-groups) proposal is at stage 3, so it's safe to add it to the parser.

[code]

Backreferences are done via `\k` escape:

[code]

Named references can also be used simultaneously with numbered references:

[code]

See the [spec](https://tc39.github.io/proposal-regexp-named-groups/) for productions.

[2017-04-01 19:19] #26 closed

[2017-04-02 04:10] shvaikalesh commented on #26
With current API we can transpile `/s` like this:

[code]

We have to remove `/s` flag, thus we can't use planned `transform` API (or plugins).
Something like `onFlag` would come handy:

[code]

A lot of new RegExp proposals work only if `/u` is present, so they would need access to flags too.

[2017-04-02 06:29] DmitrySoshnikov commented on #26
Yeah, perhaps we can expose `onFlag` hook, although each flag is not a real node. Probably a flag node will be just a flag value:

[code]

One issue with the approach above, is the `dotAll` flag might be set not at needed time: if flags are handled last, then the `onChar` will be executed when `dotAll` is not yet set. From this perspective, either flags should always be handled first (prior any ot

[2017-04-02 06:46] #4 closed

[2017-04-02 07:26] DmitrySoshnikov commented on #26
Actually, I just though, the `RegExp` node itself can play role of the `init` hook, since it's the first node which is handled, and flags can be handled there as well.

[code]

[2017-04-02 07:50] shvaikalesh commented on #26
Right, `onFlag` is suboptimal. Pseudo-nodes and reversed (to source code) callback ordering is not cool.

This is 🔥  awesome, totally solves mentioned cases.

[2017-04-02 08:21] shvaikalesh commented on #7
What should be return value of `transform`?

1. Receives `string`, returns `string`. Receives `RegExp`, returns `RegExp`.
  - It is not cool (at least in langs without "native" overloading) when return value depends on provided one.
2. Always return `string`.
  - It is a bit awkward to make `RegExp` from `string`.
3. Always return `RegExp`.
4. Return some `Result` object with `toString` and `toReg

[2017-04-02 09:26] mathiasbynens commented on #7
My vote goes to option 4.

[2017-04-02 18:27] DmitrySoshnikov commented on #7
Agreed, option 4 seems the most optimal.

So the `transform` module in contrast with `traverse` will focus on exactly _transformation_, providing convenient API methods for AST manipulation. Thus, as was [discussed](https://github.com/DmitrySoshnikov/regexp-tree/pull/31#issuecomment-290971172), it'd be fragile to attach API methods directly on `this` (where `this` is a handler), or on a node (we d

[2017-04-02 20:22] DmitrySoshnikov commented on #7
Actually, one more, and probably a better alternative is to use a `NodePath` wrapper on top of a node (similar to how Babel traversal uses). It'll store any needed state (a node, parent, prop, index), meta information, and API methods.

[code]

[2017-04-02 21:01] DmitrySoshnikov opened #32 "Traverse: wrap nodes into NodePath objects"
The `NodePath` class encapsulates `node`, `parent`, `parentPath` (a `NodePath`), `prop`, `index`, and also provides access to API methods, such as `removeNode`, `replaceNode`, etc.

Example:

[code]

Using methods:

[code]

Interface:

[code]

[2017-04-03 04:05] DmitrySoshnikov opened #34 "Development: Add Flow types for static types safety"
Currently the code base is not statically type checked, we can use [Flow](https://flow.org/) type checker to validate it.

[2017-04-03 18:13] #13 closed

[2017-04-03 18:58] #32 closed

[2017-04-03 18:58] DmitrySoshnikov commented on #22
This is now available on a `NodePath` instance received in handlers.

[2017-04-03 18:58] #22 closed

[2017-04-03 18:58] DmitrySoshnikov commented on #19
This is now available on a NodePath instance received in handlers.

[2017-04-03 18:58] #19 closed

[2017-04-03 20:17] DmitrySoshnikov commented on #27
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/65229168e64e16987cdc93d438738c86af132f71.

[2017-04-03 20:17] #27 closed

[2017-04-04 06:36] #28 closed

[2017-04-04 16:21] DmitrySoshnikov opened #35 "Traverse: remove `on` prefix on handler"
The `on` prefix seems unnecessary, and takes time to build the name; a handler name can be just the node type name.

[code]

A simpler version:

[code]

[2017-04-04 17:25] DmitrySoshnikov commented on #35
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/8ce353a3144249611671bf83d0748de68bb5179a.

[2017-04-04 17:25] #35 closed

[2017-04-04 18:43] DmitrySoshnikov commented on #7
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/277c2d6d28bab3102975cd93b64d5419db008e32.

[2017-04-04 18:43] #7 closed

[2017-04-05 06:06] DmitrySoshnikov opened #36 "Parser: store original text on an AST node"
Along with an AST node location, we should store original source text.

[code]

[2017-04-05 15:47] hg42 opened #37 "traverse/transform: path.remove() or any other way to change the collection does not work"
Hi,

Changing the parent collection (e.g. expressions) in a traverse() or transform() has an effect on the traversion.
E.g. the next node will be skipped if I use this (in coffeescript):
[code]
I assume, the index is used in the iteration and that changes when removing the item from the collection.

Perhaps I am doing it wrong? but I assume the remove() of NodePath is for exactly this purpose.
Wha

[2017-04-05 17:33] hg42 commented on #37
I can also look at it myself and create a PR?

[2017-04-05 17:51] DmitrySoshnikov commented on #37
@hg42, good catch, thanks! Yeah, the traversal tracks, and [passes](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/traverse/index.js#L89) the index in the original AST. Once we removed a node from a handler (when a handler is [executed](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/traverse/index.js#L108)), it seems the original, and actual indexes are getting out

[2017-04-05 18:29] hg42 commented on #37
I believe `parent[path.property].splice(path.index - 1, 1);` will also trigger this issue, but the test probably doesn't catch that, because there is nothing following.

I first used `parent[path.property].splice(path.index, 1)` to remove the node, but this didn't work and that's why I looked for other ways and found one in NodePath, which btw. uses exactly the same method
`this.parent[this.proper

[2017-04-05 18:33] hg42 opened #38 "NodePath.getNextSiblingNode() returns a Node but a NodePath would be more useful"
if you want to go through siblings you need a NodePath to invoke getNextSiblingNode() again.

So, I would suggest getNextSibling() returning a NodePath.

[2017-04-05 18:41] hg42 commented on #37
btw. I forgot to say your package is really awesome :-)
It solved several problems I had with javascript RegExp in a single strike by transforming it.

[2017-04-05 20:21] DmitrySoshnikov commented on #38
Yeah, I was thinking about it, however, it's not clear yet how to access exactly a "next" sibling if hasn't been handled yet. Nodes run in order (including in a collection), and a `NodePath` is [created](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/traverse/index.js#L84) prior passing to a handler. If we have a collection of `[a, b, c]`, and being on `b` node, we haven't yet star

[2017-04-05 20:23] DmitrySoshnikov commented on #37
Yeah, absolutely correct :( we'll need to fix this.

And thanks, glad the tool is useful to you!

[2017-04-05 20:27] DmitrySoshnikov commented on #38
Actually... we can probably create an actual `NodePath` if it doesn't exist in the [registry](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/traverse/index.js#L13) on `getNextSibling`. For this the registry should not be private for traverse, but probably live in the `NodePath` itself. Then when node `c` will be handling, it already will get an existing `NodePath` from the registry

[2017-04-05 21:22] hg42 commented on #37
I looked into the code and found that it's not possible to fix this without changing **ast-traverse**.

It's generally risky to edit a collection in place while iterating over it.

Probably, many operations of an optimizer will not work this way, especially when iterating using an index (like ast-traverse does).

Usually, I would use linked lists for that (coming from C-like languages or may be LI

[2017-04-05 22:08] hg42 commented on #37
For now I have set `node.type = "None"` and run a cleanup afterwards.

One "solution":
[code]
I'm not sure if this could fail in some way because the iteration may get to a non existing array item (because it was shifted away).
Would be better to traverse all collections and cleaning up the expressions array.
However, you would have to know which classes exist and which are collections and you wou

[2017-04-05 22:12] DmitrySoshnikov commented on #37
Thanks for the analysis, yeah, all points are legit. I'll have to think about the modifications, and as mentioned previously, probably we'll need to remove dependency on `ast-traverse`, and build a custom version.

Re: `node.expression` vs. `node.expressions`. This is mostly a semantic difference. E.g. a group has an `expression`, since it only can have 1 expression, hence "s" suffix semantically

[2017-04-05 22:14] DmitrySoshnikov commented on #37
Oh, nice trick with "catch-all" `*`! It still has two-pass of the AST, but can solve the issue. Anyways, I'll think more about these edge-cases, and you are right, more complex operations will be harder with the current issue of unsync "index".

[2017-04-05 23:33] hg42 commented on #38
I had similar ideas...

however, my need for that has gone away now.

I wanted to implement the extended regexps (x-flag) with whitespace and comments.
Whitespace is the problem with deleting itself.

Comments would be a sequence of characters starting with # and stopping with \n, for which I would have to go to the following siblings.

But comments can also contain illegal constructs which stop p

[2017-04-05 23:46] hg42 commented on #37
it may be even worse because the index runs up to the length which is probably cached by the for loop (not sure).
So if the array would become longer the loop would stop before end.

You could perhaps look how big engines like LLVM do such transformations. I guess they try to be very efficient, though javascript is not C.
There might be other projects like coffescript or other precompilers that ha

[2017-04-06 02:56] DmitrySoshnikov commented on #37
Yeah, at least the length [isn't cached](https://github.com/olov/ast-traverse/blob/master/ast-traverse.js#L28), so this should work in general, but I'll think about restructuring this anyways.

[2017-04-06 03:03] DmitrySoshnikov commented on #38
The multiline regexes with comments is something I was thinking as well, although it's not yet supported by ECMAScript/JavaScript (`regexp-tree` is based on its grammar yet, though probably not limited to it, and non-standard features like `x` flag, etc. can be added).

As for comments, Syntax supports _states_ in tokenizer. This means a tokenizer can enter the "comment" state ([example](https://g

[2017-04-06 05:15] DmitrySoshnikov commented on #37
OK, this should be fixed now in https://github.com/DmitrySoshnikov/regexp-tree/commit/9859d991bd20f98f863ca6559dbd932a152a1d69 (and in `0.0.28`). Please let me know if you see any issues. I also exposed `getNextSibling`, and `getPreviousSibling`, which return paths now.

[2017-04-06 05:15] DmitrySoshnikov commented on #38
OK, it should be fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/9859d991bd20f98f863ca6559dbd932a152a1d69 (and in `0.0.28`). Please let me know if you see any issues.

[2017-04-06 05:15] #38 closed

[2017-04-06 05:30] DmitrySoshnikov opened #41 "Replace `expression`, and `expressions` with generic `body` property"
Nodes like `Group`, or `CharacterClass` have a property `expression`, or `expressions` (depending on whether it's a single node, or a collection). To simplify this, we can use a generic property called `body`, similar to how `RegExp` node type has it.

(per discussion in https://github.com/DmitrySoshnikov/regexp-tree/issues/37#issuecomment-292012662, CC @hg42)

[2017-04-06 05:49] DmitrySoshnikov opened #42 "Implement interpreter module"
This is a large size issue, but eventually we'll need to have an _interpreter_ in order to test new features (like lookbehind assertions, named groups, etc) which are not yet implemented in JS engines.

The spec is [here](http://www.ecma-international.org/ecma-262/7.0/#sec-pattern-semantics). We can follow the ECMAScript spec, though can also simplify the handling, as long as the semantic is prese

[2017-04-06 11:34] hg42 commented on #41
it's a balancing thing...

when traversing, you have
[code]
vs. (if I understand your intent with the body member correctly):
[code]
or may be something like:
[code]
so this kind of unification does not look easier or cleaner to me.

Then there is:
[code]
however then you have a draw back when accessing the single object case:
[code]
So the decision is between preferring traversal or access. Which

[2017-04-06 13:41] hg42 commented on #37
ok, first I thought it looks good to me. But in my simple usage (deleting a space char) this doesn't work.
Seems the tests are not covering this (though I first thought they would).
That's because you only delete one node and test only on the NodePath level.
You can detect this if you create a regexp `/abcd/`, delete character `b` and `c` in `traverse()` and look if the generated regexp is `/ad/`.

[2017-04-06 14:36] hg42 commented on #37
I am thinking of something like this in ast-traverse:
[code]
and
[code]
in node-path.js

[2017-04-06 17:58] DmitrySoshnikov commented on #37
@hg42, oooh, great catch again, thanks!

Yes, I'll make sure this test is passing, and yes, perhaps we'll have to remove `ast-traverse` still, will check.

Also a good point on more complex optimizations which can reshuffle several layers, though I hope we'll do gradual fixes if we find though issues.

What are you aiming at with `optimize()`?

Empty parens is a good use-case BTW, we should add it

[2017-04-06 19:03] DmitrySoshnikov commented on #41
Hm.. good points and pros and cons overall.

Yeah, convenience of handling is definitely important, however, one more important thing here is semantics. It should be logically consistent: if the only thing a group can have is just a one "thing", it should not be an array.

Ideally traversal API should cover and abstract this away, so you don't have to manually deal with "if-else" checks for arrays

[2017-04-06 19:16] DmitrySoshnikov opened #44 "Parser: some empty nodes fail when capturing locations"
This one is OK:

[code]

This one fails:

[code]

[code]

We should also return an empty collection for things like `/[]/`, and other similar, instead of `null`.

[2017-04-06 19:55] DmitrySoshnikov commented on #37
@hg42, I added the test for removal of 2 characters, and seems it's passing. Please feel free to review the https://github.com/DmitrySoshnikov/regexp-tree/commit/35688985821fa90045e3a3dafc3d45e871dee64c. Does it covers the use-case?

If though I'm missing the actual use-case (might be), can you provide an actual code snippet you use for traversal, and removal?

(I should probably start doing pull-

[2017-04-06 20:38] hg42 commented on #37
nope, these lines don't trigger the problem:
[code]
because after deleting both nodes from the array processing is finished, so the wrong index in ast-traverse doesn't matter any more.
The problem only appears when you delete a node and return to ast-traverse and want to process a next node.
So, you should change it to:
[code]
question is how to check expectations.
You already have a second traver

[2017-04-06 20:41] DmitrySoshnikov commented on #37
Cool, thanks, I'll look into this example, and will provide a smaller test with "transform-generate" (we can keep this one detailed test, I wanted to explicitly track index changes).

[2017-04-06 21:29] hg42 commented on #21
would be nice if we could choose, which transformations should be done.
I think I would need both, an include-list and an exclude-list.
The names should be have a scheme, e.g. all optimizations with quantifier could be called quantifier-xxx, or you could have xxx-reduce-xxx.

Optimizations are a special variant of a group of transformations.

IMHO, an optimization would be a group of transformatio

[2017-04-06 21:56] DmitrySoshnikov commented on #37
OK, I investigated it, and while it is possible to adjust traversing index during traversal (by checking length of the collection before, and after call, calculating delta, and fixing `i`), I think a better approach could be a "post-cleanup" similar to what you had with "None" type.

In this case removing a node will mean not fully remove it from the array, but marking as `null`. And post-traversa

[2017-04-06 21:58] DmitrySoshnikov commented on #37
Probably even won't remove `ast-traverse`, since it [checks](https://github.com/olov/ast-traverse/blob/master/ast-traverse.js#L10) `if (!node ...) { return; }`. So "removed", `null` nodes won't be just visited by other visitors. Still good to do a clean up though.

[2017-04-06 22:02] DmitrySoshnikov commented on #21
Yeah, good idea, `optimize` can accept a set of explicit transforms. Although, this use-case is already covered by `transform` -- you may pass any transforms you need. The `optimized` was supposed to be a "black-box" which doesn't bother you with explicit transforms (for what `transform` exists). But I'm fine with accepting a needed list of transforms as well there -- if it's not passed, a default

[2017-04-06 22:25] DmitrySoshnikov commented on #37
There might be problems with insertions though. We don't have an API to insert nodes yet, but it's possible doing "raw manipulations", and index may change when you insert the nodes. In this case it should be fine though, and nodes won't be skipped, since `length` is not cached.

[2017-04-06 22:42] hg42 commented on #41
I can accept that from one view, but why not have another?

You have "children" even if you have only one. Totally abstract you even have children if you have none (count is zero).

IMHO, that's a matter of view.
It's an abstraction. "One child" is only a special case of "children" just like a point is a circle with radius=0 which could also be a square with area=0. (btw. as we say in Germany "a p

[2017-04-06 23:19] DmitrySoshnikov commented on #37
OK, after rethinking again, I think we should stick with actual index recalculation in order to cover insertion of a node. In this case removal/insertion will be handled generically, and will track correct index.

[2017-04-06 23:53] DmitrySoshnikov commented on #41
@hg42, thanks for the detailed explanation, appreciated, all makes sense, and are valid points!

Re: AST nodes format.

We've been discussing previously with on having actual AST classes -- with the based `Node` class, getters, setters which abstract away a bunch of implementation details. The reason why it's yet a simple "plain-object" format is to be compatible with Mozilla Parser API, and diffe

[2017-04-07 01:21] DmitrySoshnikov commented on #37
@hg42, OK, in https://github.com/DmitrySoshnikov/regexp-tree/commit/214ef518ed9ed49436c132cadaad757949bea55c I used a similar to yours proposed approach with `loop_index`, and adjust current `i` index based on the tracked removed indices (one handler may remove several nodes).

I also removed dependency on `ast-traverse`, so we control now the traversal, and can adjust indices as needed. This will

[2017-04-07 10:07] hg42 commented on #41
May be I am a bit too much into perfectionism.
Regexps are not that big. And you usually don't have many of them. So I guess ease of use comes first and performance last.
The traverse is written once.
Node objects are handled all the time.

Apart from that, I would suggest a way that is consistent.
* either the traversal runs outside the nodes,
all nodes have the same children collection
and can a

[2017-04-07 12:06] hg42 commented on #37
wow, you are really fast :-)
I just wanted to write all those points you say above (insert etc.), and also created a test case nearly identical to yours.
So nothing to do for me :-) just agree.
I'll test it soon.

[2017-04-07 12:53] hg42 commented on #37
ok, you collect the removedIndices to check them if they affect the current loop index.
But to my intution these lines look suspicious to me, because you change the index you compare with:
[code]
at least I cannot see correctness at first sight.

But this seems to be correct on second sight, because you simply seem to delay the influences of the removes on the loop index by keeping a chronological

[2017-04-07 15:07] hg42 commented on #37
it works for my use case.

Because I didn't expect this to work, I was going to suggest something about storing a path from get*Sibling() and removing it via the stored path.

But I see you already have a test exactly doing this (I started to write one:-).
So this works already.
I'm impressed, very well done!

This works because the "stored" path is only a reference into the array, right?
So, if y

[2017-04-07 15:23] hg42 commented on #37
perhaps a comment to state that it's a kind of journaling system could be helpful.
You could use `journal` or `actionJournal`  instead of `removedIndices` (when adding `insert()`) to make the intention more clear.

Instead of `{remove: <index>}` and `{insert: <index>}` you could use positive indices for insertion and negative for removal if you want to keep it slim and fast. But this is less expli

[2017-04-07 18:39] DmitrySoshnikov commented on #37
@hg42, cool, thanks!

Did you design it this way intentionally?

I actually thought I had an error there as well because of `i--` modification :) But when checked, it should work, even if you delete a previous node, and itself, the `if (index <= i)` should still stand. We can change it to be more clear, like:

[code]

But seems `i--` "just works" too.

Actually, you are right, I'm gonna change it

[2017-04-07 19:38] DmitrySoshnikov opened #45 "NodePath: implement `insert` functionality"
This should handle nodes insertion in to a collection. Be careful to track inserted index to adjust in the traversal -- we should replace the [removedIndices](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/traverse/index.js#L68) which tracks only removals with the `actionJournal`. The `actionJournal` will store records of type: [{remove: <index>}, {insert: <index>}, ...], and adjus

[2017-04-07 19:39] DmitrySoshnikov commented on #37
OK, closing this issue, feel free to add any comments or reopen in case if issue with `remove` will be found. I open a separate issue #45 to implement `insert` operation.

[2017-04-07 19:39] #37 closed

[2017-04-07 19:52] DmitrySoshnikov opened #46 "Add transform functionality to AST Explorer"
The fix for this issue is supposed to be done in https://github.com/fkling/astexplorer repo.

The AST Explorer tool [already supports](https://astexplorer.net/#/gist/4ea2b52f0e546af6fb14f9b2f5671c1c/39b55944da3e5782396ffa1fea3ba68d126cd394) _regexp-tree_ for parsing; we should also enable transformation API there (see the docs with examples on the AST Explorer repo).

[2017-04-07 20:07] DmitrySoshnikov commented on #41
Node objects are handled all the time.

Yep, I came to the same conclusion, which makes me think nodes access should be optimized for convenience, and less the traversal (which is abstract away anyways by the `traverse`, or by `path.traverse` later).

BTW, this approach is used by the _generator_, which does [its own traversal](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/generat

[2017-04-08 05:59] hg42 commented on #37
I thought of this before, but now I think, *this* would *NOT* work:
[code]

[2017-04-08 12:11] hg42 commented on #37
simple example:

you have `/0123456789/`, i is 5, so it points to "5".
you remove  3 times at index 0 ("0", "1", "2"), so you have `/3456789/`, numberToDecrease would be 3.
now you remove three times at index 4 ("7", "8", "9") giving `/3456/`,
4 <= 5 for all three, so numberToDecrease is now 6.
after all i is -1 (=5-6) (negative!).

If you compare with the actual loop index you have i at 5-3 = 2 a

[2017-04-08 13:22] hg42 commented on #21
`transform()` has a handlers object parameter (same as `traverse()`).
But `transformations` above is essentially an array of handler objects.

These are referred to by name in my suggestion, to choose from an existing internal set, but probably directly passing handler arrays (or objects) would be more flexible. The user may want to build his own handlers and sets.

yepp

[2017-04-08 15:33] hg42 commented on #42
very ambitious :-)

I think I am kind of alienating it from its original purpose.
I wonder, what you originally intended, when you  created regexp-tree.
Is it a project you need for ast-explorer?

The syntax is bound to a single syntax definition, right?
At some point I thought it would be nice, if we could switch the syntax.
And the user could need to extend the definition in some way, e.g. to pl

[2017-04-08 16:37] DmitrySoshnikov commented on #37
doh! yeah, so it's a tricky problem actually, when a solution is not seen right from the beginning. So the simple `i--` then works, even if it seemed it won't work.

[2017-04-08 18:00] DmitrySoshnikov commented on #21
`transform`/`traverse` are overloaded, and accept as a single handler object (for convince), as well as array of handler objects. So one could write:

[code]

Or (a list of transforms, 1 handler in the list):

[code]

Multiple handlers (run in one traversal pass, and applied in order; if a node is removed, the next handled is not called for it):

[code]

[2017-04-08 18:08] DmitrySoshnikov commented on #42
Initially was needed just a parser, but still wanted to build a simple NFA/DFA for educational purposes (with potentially teaching the topic in a class). There is a [small intro article](https://medium.com/@DmitrySoshnikov/regexp-tree-a-regular-expressions-parser-with-a-simple-ast-format-bcd4d5580df6) on it as well.

Not really; for AST Explorer we need just the parser, and transform API (for quic

[2017-04-08 22:48] hg42 commented on #21
nice, I didn't notice that.
so it's there already.

While this optimization may be working well in many transforms, in my use-case this single pass behaviour doesn't work. I need multiple passes.

E.g. I set the names of unnamed capture groups to it's index while collecting the hierarchical dependencies (collecting names of all parents). Then in a second pass, I delete all names, to have only un-n

[2017-04-09 01:40] hg42 commented on #21
I just had an idea for the handlers parameter of transform().
It could have a form
[code]
where the outer level would be sequential and the inner level merged.
Here a and b would be merged and executed, then c, d, e merged and executed, then f.
If it would be `[a, b, c]`, a, b, c would be merged (like it is now).

[2017-04-09 01:58] hg42 commented on #42
but it's not possible currently, right?
or did I miss something (again)?

I see at least two reasons for switching syntax definitions:
* different engines or specs
* different flags (mainly the x-flag)

most flavours have only small changes, like `(?P<name>...)` vs. `(?<name>...)`.
Does the parser generator allow such variations?

[2017-04-10 04:27] DmitrySoshnikov commented on #21
Yep, for sure there might be some complex cases when a single pass is not enough, and nodes may collide, so the multi-pass is an alternative (slower, but still). The single pass is only an optimization, which might be enough for most of use-cases.

Yes, if a node is inserted somewhere to further positions, it'll be visited actually. However, if if it's inserted into already passed position, it'll

[2017-04-10 04:35] DmitrySoshnikov commented on #42
Nope, currently only JavaScript regexes are supported. But I can imaging, the parsing `mode` could be as:

[code]

And this will enable PRCE syntax. Thus, we don't need to over-complicate the current grammar for ECMAScript, but instead create an own version, and then based on `mode` just call a needed parser.

With all this, `traverse`, and `transform` modules can be completely generic, and be use

[2017-04-10 04:40] DmitrySoshnikov opened #48 "Parser/generator: implement PCRE mode"
Currently we support only JavaScript regexes. However, _regexp-tree_ can be _language-agnostic_, and support any other formats/modes/syntaxes of regular expressions. Thus, `transform`, and `traverse` modules can be fully reused for any syntax.

E.g., a named capturing group in PCRE, and Python syntax is:

[code]

Similarly, we should support other syntax specifics.

[2017-04-10 10:37] hg42 commented on #42
some modes have sub-modes (only `x`-flag for now), so the tree may be more like this:
[code]
or may be:
[code]

or the `x`-flag could be expressed inside the syntax (if possible, that's why I asked about runtime controllable variations in the grammar, I probably didn't ask clear enough).

Most parser generators don't allow such things.

The `x`-flag makes a big difference in parsing, either there

[2017-04-10 17:52] DmitrySoshnikov commented on #42
OK, yeah, then per-language there might be parser options (and `x` can go there).

Most parser generators don't allow such things.

Yes, it'd be impractical to generate statically a parser per each flag, so this should be runtime-controllable.

Currently _Syntax_ (the parser generator we use) supports only setting "global options" per the whole parser module. I was thinking we probably can pass al

[2017-04-10 18:43] hg42 commented on #42
I think, the only flag changing the parser is `x`-flag. So different  parsers could be an option.

There is also a feature in perl/PCRE: `(?f)` where f is a flag.
http://pcre.org/current/doc/html/pcre2syntax.html#SEC16
http://pcre.org/current/doc/html/pcre2syntax.html
I am not sure where these can occur, but I think that at least `i` can be used in groups. so `((?i)BLA)` would ignore case and `((?

[2017-04-10 19:17] hg42 commented on #42
Please note, most what I am saying here aims at giving you input.
These are not suggestions I would want to see implemented.
So don't feel pushed in such directions in any way.

My own interests seem to be very different from yours.

I want to get the most out of javascript RegExps, because I am used to have better regexp support.

I need named groups.
The x-flag would be nice, I like to write reg

[2017-04-10 19:17] DmitrySoshnikov commented on #42
FYI: since https://github.com/DmitrySoshnikov/syntax/commit/1c48d76f0d4a73fbb2fd0aa5e5223134b5f17bf2 (Syntax), and https://github.com/DmitrySoshnikov/regexp-tree/commit/b8db3c4d6326e86040cf1ce528e358aa581c6861 (regexp-tree) options per `parse` call are available.

[2017-04-10 20:22] DmitrySoshnikov commented on #42
These are not suggestions I would want to see implemented.
So don't feel pushed in such directions in any way.

My own interests seem to be very different from yours.

No-no, I actually very appreciate your ideas :) and by discussing it, we can route the implementation as needed too (e.g. I didn't have initial plans to build language-agnostic regexp processor, and now I do -- supporting several sy

[2017-04-11 00:15] hg42 commented on #42
[code]
I hope not "working" like this :-)

Sorry about the replacement operations, I don't remember...

[2017-04-11 03:28] DmitrySoshnikov commented on #37
FYI: in https://github.com/DmitrySoshnikov/regexp-tree/commit/3e537a42923407b0c99144bcf61817a35755b3ac I added `insertChildAt` operation, and found that tracking insert/remove with `i--` became really hard. So I rewrote it with a current traversing index, which is used by `traverse`, and can be update in remove/insert methods.

[2017-04-11 03:30] DmitrySoshnikov commented on #45
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/3e537a42923407b0c99144bcf61817a35755b3ac.

[2017-04-11 03:30] #45 closed

[2017-04-11 04:38] DmitrySoshnikov commented on #36
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/3a2a7bd4182316e5d4cb6657aad181b1be23f727.

[2017-04-11 04:38] #36 closed

[2017-04-11 10:00] hg42 commented on #37
Nice, will have a look...

Btw. I had the desire to revisit the newly created items. That's why I made a second pass.

For general algorithms it may be necessary to decide if I want to have my handler executed before or after the children (or even both). I think astTraverse has pre and post for the same reason.

Changing the node type may skip another handler which you thought to handle that.
Gene

[2017-04-11 18:33] DmitrySoshnikov commented on #37
@hg42, all good point, thanks. I'm gonna come back to revisit them a bit later (got a bit busy on main work, this is mostly my side project).

When [we were thinking](https://github.com/DmitrySoshnikov/regexp-tree/issues/7#issuecomment-291004872) about the API for transform/traverse, there was an option to traverse just nodes, and pass an API object as a parameter. In this case, a handler would be

[2017-04-11 19:01] DmitrySoshnikov opened #49 "Parser: Location: make start/end to store line/column/offset"
Since we currently support only 1-liner rexes, there was no need to store line/column in locations information. With the `x` flag, which will enable multiline mode (ignoring the most of the whitespaces), and comments, we'll need to store line numbers as well.

Following `ESTree` [location interface](https://github.com/estree/estree/blob/master/es5.md#node-objects), we need store:

[code]

To check

[2017-04-11 22:07] DmitrySoshnikov commented on #41
Now when we have generic `getChild` which abstracts away `expression`, and `expressions` works pretty well (fixed in #47), I'm gonna close this issue for now. We can return to different ASTs format if the current one cause issues in the future.

[2017-04-11 22:07] #41 closed

[2017-04-11 22:31] hg42 commented on #37
I read a bit about javascript's gc, cyclic dependency should be no problem (I was influenced by python using reference counting, javascript uses mark and sweep).

The api parameter shouldn't help, because it doesn't hold index, prop and parent.
It could hold these for the single node like an iterator object, but this is not sufficient for tree reordering (only one level).

I was thinking of storin

[2017-04-11 22:37] DmitrySoshnikov commented on #37
Right, and good catch! We should fix `replace` and take care of it. Although.. perhaps this currently "magically works" (haven't checked), and a new `NodePath` is created when this new node is trying to be accessed from some method.

Yeah, we can add those methods. I can take a look later, or feel free to send a PR as well :)

[2017-04-11 23:12] hg42 commented on #41
`getChild` could get an optional property parameter like the other functions.
The strategy to detect if it's an array or a single child is a little different in different functions:
* `getChild`: looks if `node.expressions` exists, otherwise uses single child `node.expression`
* at some places index is used

`getChild` cannot use index, so may be the other functions should also look for `node.expr

[2017-04-11 23:33] hg42 commented on #41
`setChild` and others cannot use `expressions` vs. `expression` for distinction, because of the `property` parameter. That is why it uses `index`.
Would all be simpler if no other property would be allowed.

[2017-04-12 00:11] hg42 commented on #37
if the node is totally new, the corresponding NodePath would be created, **BUT** if the node already has a NodePath it will be reused and has the wrong parent!
I already changed `getForNode` to force given parameters on the cached path.
I also had code to create/change NodePaths in replace, but it didn't work because getForNode only used the cached path as it is. I think I'll add that to setChild/

[2017-04-12 05:01] DmitrySoshnikov opened #51 "Implement Babel plugin for optimizer"
[Optimizer](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/optimizer) module can be used in JS code, e.g. via [Babel](https://babeljs.io/) plugin handling [RegExpLiteral](http://astexplorer.net/#/gist/a90a50a08a99b8d728183e0b6f52a012/17f2b9b22b2acdd9d6d5305c9fc0b181533ffee7) node, and replacing its `pattern` property.

The plugin is a separate package and is in [src/optimizer/babel

[2017-04-12 05:30] DmitrySoshnikov commented on #23
Closing this, since a plugin can be exported as a simpler handler:

[code]

See [examples](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/optimizer/transforms).

[2017-04-12 05:30] #23 closed

[2017-04-12 09:14] mathiasbynens opened #53 "Should the optimizer avoid rewriting to `\W`?"
See <https://mathiasbynens.be/notes/es6-unicode-regex#impact-i>.

Per ES6, `/\W/iu` was equivalent to `/[^0-9a-jl-rt-zA-JL-RT-Z_]/u`, and [engines implemented it that way](https://github.com/tc39/ecma262/pull/525#issuecomment-228016109).

This was fixed in the spec in [June 2016](https://github.com/tc39/ecma262/pull/525#issuecomment-228016109). Now, `/\W/iu` is equivalent to `/[^0-9a-zA-Z_\u{017F}

[2017-04-12 17:35] DmitrySoshnikov commented on #53
Yeah, those `K`, `S` is a weird use case (bug). Might be an edge case, we'll see. Potentially yeah, will avoid rewriting `\W` (probably will be behind some option for legacy engines).

[2017-04-12 18:04] DmitrySoshnikov opened #54 "Transform/runtime: Implement "named capturing groups""
Parser support for **named capturing groups** has been added in ~[issue #28](https://github.com/DmitrySoshnikov/regexp-tree/issues/28)~. It's an ECMAScript [proposal](https://github.com/tc39/proposal-regexp-named-groups) at stage 3.

To be able to use it in older engines, we can translate:

[code]

Into:

[code]

The `regexpTree` creates a lightweight facade wrapper on top of ES6-compatible regexp

[2017-04-12 20:48] hg42 commented on #54
that's 1/3 of what I currently do with regexp-tree.

Your example has only named groups. You can also have unnamed groups.
You need to collect an array of both group names and indexes of regular capturing groups (set name = index).

[2017-04-12 22:30] DmitrySoshnikov commented on #54
@hg42, good point, yeah, the second parameter should be map from group name to the index. I think unnamed groups share the same index? I.e. this matches `aaa`:

[code]

So perhaps:

[code]

Would give:

[code]

[2017-04-12 23:12] hg42 commented on #54
yes, named groups count => x=1 y=3.

you can also use `[null, 1, "year", 3, "month", "day"]`, then you simply loop through the array and store `names[i]: originalMatch[i]` in matches.groups, So, `matches.groups["3"]` would result in "y".

[2017-04-13 00:27] DmitrySoshnikov opened #55 "Transform: implement "dotAll" s flag"
The "dotAll" `s` flag enables `\n` to match as well:

[code]

Can be translated to:

[code]

Or into:

[code]

[2017-04-13 00:28] DmitrySoshnikov commented on #55
@mathiasbynens, will both of the work equivalently, and can you advise please, which better to choose?

[2017-04-13 01:20] hg42 commented on #55
or `[\s\S]`

[2017-04-13 01:23] DmitrySoshnikov commented on #55
@hg42, yep, this works too. The `/[^]/` seems the shortest one; otherwise, optimizer will have more job translating `/[\0-\uFFFF]/`, or `[\s\S]` to `[^]` :P

[2017-04-13 05:36] DmitrySoshnikov commented on #44
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/6978a5f7611a6dc67ed4424cea21046684d11620.

[2017-04-13 05:36] #44 closed

[2017-04-13 07:49] mathiasbynens commented on #55
`[^]` is shortest but doesn’t work in IE < 9.

[My transpiler](https://mothereff.in/regexpu#input=const+regex+%3D+%2Ffoo.bar%2Fs%3B%0Aconsole.log%28%0A++regex.test%28%27foo%5Cnbar%27%29%0A%29%3B%0A%2F%2F+%E2%86%92+true&dotAllFlag=1) translates it to `[\0-\uFFFF]` when the Unicode flag is not set, and `[\0-\u{10FFFF}]` when the `u` flag is set.

[2017-04-13 10:33] hg42 commented on #55
I think, `[\0-\uFFFF]` and `[\0-\u{10FFFF}]` are most explicit.
These do not depend on how the engine interprets "not nothing" or how the char sets `\s` and `\S` are defined (they may not exactly complement each other, see `\W`).

However, someone not getting right `[\s\S]`, might also exclude line ends from the explicit range by intention.

`\s` per definition does include line ends, right? I don

[2017-04-13 10:46] hg42 commented on #55
it's also a good example, that the set of optimizations depends heavily on what you want to accomplish with the optimizing pass. Obviously we all want to optimize in a different direction.

You might want to get a small or a quick regexp for only one target engine (another dependency) or you might want to get a most portable regexp. Or it should be unicode centric.

My optimization desires are alw

[2017-04-13 22:17] DmitrySoshnikov commented on #55
OK, so seems `[\0-\uFFFF]` is a more appropriate translation then (for performance, than non-capture group, and supported in older engines).

I set up [compat-transpiler](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/compat-transpiler) module in https://github.com/DmitrySoshnikov/regexp-tree/commit/bf8584ff2d3af09777164587c16ff801376eb7ae, and added "dotAll" implementation. Please

[2017-04-13 22:26] DmitrySoshnikov commented on #21
Closing this one since the module is set up. Other specific transforms can be implemented in separate issues.

[2017-04-13 22:26] #21 closed

[2017-04-13 22:31] DmitrySoshnikov opened #56 "Optimizer: implement "remove empty groups" transform"
We should remove empty groups:

[code]

NOTE: removing a capturing group potentially changes semantics (the number of groups will be different), but this seems should  be fine -- I cannot imagine any actual use-case when an empty group should be used, so this is mostly a "lint rule".

[2017-04-13 23:36] DmitrySoshnikov opened #57 "Parser: store group number for a capturing group"
This:

[code]

Should give us (need to add `"number"` property):

[code]

[2017-04-13 23:58] DmitrySoshnikov commented on #57
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/9a46b55cca5e796c71778403654bf6f7cf5a7e64.

[2017-04-13 23:58] #57 closed

[2017-04-14 00:55] DmitrySoshnikov commented on #54
Transform part is done in https://github.com/DmitrySoshnikov/regexp-tree/commit/f1233b904f22d2a82b8ed24d8290e7db9e98c984 and  https://github.com/DmitrySoshnikov/regexp-tree/commit/7fb4b3428e55a8aec29669ecca2f3d51a9ff0099.

[2017-04-14 06:27] DmitrySoshnikov opened #58 "Implement Babel plugin for compat-transpiler"
A Babel plugin should apply transformations from [compat-transpiler](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/compat-transpiler) on `RegExpLiteral` nodes.

The plugin lives in [src/compat-transpiler/babel](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/compat-transpiler/babel).

[2017-04-14 13:41] hg42 commented on #56
I am not sure...

The user would not create an empty group manually.

So it is a result of some algorithm. This algorithm probably counts the group.
The developer either didn't take into account that this can happen or he doesn't care about (performance is unimportant etc.).

The problem of optimizing an internal set of rules is that it is hidden and can be extended by rules you didn't expect.

Th

[2017-04-14 17:58] DmitrySoshnikov commented on #56
@hg42, yep, agreed, we'll need to change optimizer API to be similar of compat-transpiler, which [accepts a whitelist](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/compat-transpiler/index.js#L18) of the transforms needed to be applied.

Technically, we could also accept any other transform there, not only a string name of the default transforms: if a transform is a string, it's a

[2017-04-14 18:13] DmitrySoshnikov opened #59 "Transform: utils for supporting tree consistency"
Some utils might be useful to abstract away some boilerplate users have to do if they want to keep an AST consistent after some modifications.

Example: all capturing groups have `number` property, which is built during parsing. However, if some transform in pipeline adds/removes a capturing group, the numbers of all other existing groups become unsync, and further may not work as expected.

Respo

[2017-04-14 18:15] DmitrySoshnikov commented on #56
FWIW, I added `number` property in a `Group` node, so at least don't need to count in the original tree. Also, I opened #59 to discuss some "consistency utils", since many properties can become unsync after the first transform in a pipeline is executed.

[2017-04-14 19:25] hg42 commented on #59
From my point of view, rebuildGroupIndex is a transformation (traverse + changing data in AST).
So, no need for a function.

Generally, everything changing the AST is a transformation.

Now, that said, I think the result of processing the namedGroups could be moved into the RegExp-object at the root of the AST.

The group name is already stored in the "Group" object, so the group index could be st

[2017-04-14 19:38] hg42 commented on #59
I see, you already have added "number" to the group.

The reference to the source seems to be invalidated by several transformation. But you can see it as a source map. E.g. when a named group converted to a simple group creates an error, you could point at the original source.

[2017-04-14 20:31] DmitrySoshnikov commented on #59
Yeah, technically it is a transformation, though semantically could be a util (which just uses transformation under the hood :)).

And yes, the `number` property already exists on a `Group` node.

So everything what is determined at parsing stage, theoretically (and practically) is "not-reliable" if more than one transform is used in the pipeline (`source` is "broken", "number" of capturing groups

[2017-04-14 20:58] DmitrySoshnikov commented on #55
Closing this, feel free to comment if find any issues.

[2017-04-14 20:58] #55 closed

[2017-04-14 23:47] hg42 commented on #59
ok, if I were a user of the package with less understanding of the underlying algorithms, I would prefer to simply chain several transformations. I could probably understand when a transformation is documented as making this or that unreliable, if also would be documented, that I have to use transformation build_this_and_that when I need them.
Perhaps a table, which transformation invalidates whic

[2017-04-15 00:05] DmitrySoshnikov commented on #54
Local runtime support has been added in https://github.com/DmitrySoshnikov/regexp-tree/commit/0e6a9ff70679b15bc475574b2ab361bddadc2d84.

[2017-04-15 16:22] hg42 opened #60 "reordering `a(b)` to `b(a)` does not set parentPath correctly (parent not in sync with parentPath)"
I have a test case, where the parents get out of sync.

I think there is something wrong or missing in my latest `setChild` code or perhaps in `getForNode`.

Originally I used `replace()` in the test case and blamed it for the error.
But now I have rewritten it using `setChild`. I generally think `replace()` shouldn't be used for such reorders. But now I have a very similar error.

I already tried

[2017-04-15 17:23] hg42 commented on #60
ok, found it.
Some asserts at interesting places helped a lot...
[code]
I am not sure why setting the parent helps when in the test the parentPath was wrong.
But it works this way.
I'll send a PR soon.

[2017-04-15 19:12] #60 closed

[2017-04-15 19:19] DmitrySoshnikov commented on #60
@hg42, yes, the `parent` got unsync on reorder, so should be updated.

So the `traverse`/`NodePath` is becoming one of the complex modules of the system (when it's not easy to track complicated reordering of nodes/paths), so thanks for catching this, and fixing.

BTW, I have suspicions, that even more complex re-shuffles can make `parentPath` unsync.

E.g.

[code]

Is transformed to:

[code]

The

[2017-04-15 19:47] DmitrySoshnikov commented on #59
Such a generic pub/sub system (when you can subscribe for needed props, and ensure they are invalidated/cleaned up by the system after each transform) sounds interesting, and could be good actually, although, it might add more complexity for end users as well (in contrast with using small util methods). Also, it may add complexity to the sequencer itself (taking time to manage this, especially in

[2017-04-15 20:13] DmitrySoshnikov commented on #60
Ah, never mind, seems parent of `(cd)` in my example should correctly stay as as :) so should be fine.

[2017-04-17 03:20] DmitrySoshnikov opened #62 "Parser: implement `x` flag"
When `x` flag is used in a regexp, whitespace are ignored, and #-comments can be used.

This is not a standard flag (yet) of JavaScript regexes, however, in order to support different syntaxes (pcre, python etc), we can add support of `x` to the main parser.

In the future, if different syntaxes differ too much, we'll have to fork grammar file, and implement one per syntax. Currently handling `x`

[2017-04-17 03:35] DmitrySoshnikov commented on #62
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/18473e8276a1f362990e7fae920e90201d2c5c25.

[2017-04-17 03:35] #62 closed

[2017-04-17 08:00] DmitrySoshnikov commented on #58
Built as a separate package [babel-plugin-transform-modern-regexp](https://www.npmjs.com/package/babel-plugin-transform-modern-regexp).

[2017-04-17 08:00] #58 closed

[2017-04-17 08:02] DmitrySoshnikov commented on #51
A separate package [eslint-plugin-optimize-regex](https://www.npmjs.com/package/eslint-plugin-optimize-regex) for ESLint plugin was built instead, and it's sufficient.

[2017-04-17 08:02] #51 closed

[2017-04-17 15:22] hg42 commented on #62
nice, thanks...
I now can throw away part of my solution and set x-flag instead.
Just keep on making me  unemployed :-)
no offense, I really appreciate that, I can concentrate on the real problem now, if you don't take over this, too.

[2017-04-17 17:23] DmitrySoshnikov commented on #62
@hg42, lol, sounds good 😆

[2017-04-17 18:59] hg42 opened #64 "exec(...): exception if javascript RegExp fails"
I got an exception:
[code]
which is internal stuff.

So, `result` should be checked in src/compat-transpiler/runtime/index.js:
[code]

[2017-04-17 19:02] DmitrySoshnikov commented on #64
ah, good catch, I'll take a look, or PR is as always welcome :)

[2017-04-17 19:51] DmitrySoshnikov commented on #64
OK, fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/777646cbb27a81fdc792a331744572cc76ce7340.

[2017-04-17 19:51] #64 closed

[2017-04-17 20:35] hg42 commented on #64
ok, you were faster (and the test is better placed), thanks

[2017-04-18 04:14] DmitrySoshnikov opened #65 "Compat-transpiler: implement `u` flag"
The `u` flag should already be implemented by most of the engines, however, there are still old engines which do not implement it, so it'll still be nice to have this feature in compat-transpiler (ES2015 -> ES5).

There is an explicit implementation for the `u` flag in [regexpu](https://github.com/mathiasbynens/regexpu) package. Potentially can be ported to regexp-tree.

[2017-04-18 04:20] DmitrySoshnikov commented on #65
@mathiasbynens, you should know the topic, and details well, as an implementer of the `regexpu`, will be glad to get your reviews on this (in case you'd be willing to port it, I think you'd be the best owner for this feature).

[2017-04-18 04:36] #54 closed

[2017-04-18 08:38] mathiasbynens commented on #65
I’ve been meaning to port regexpu-core to a regexp-tree plugin and run some comparisons! Consider this assigned to me.

[2017-04-18 17:38] DmitrySoshnikov commented on #65
Sounds great, thanks! Let me know if you need any help, or any feature (and of course feel free to add any in case).

[2017-04-19 05:35] DmitrySoshnikov opened #66 "Investigate whether we can compat-transpiler lookbehind assertions"
The [lookbehind assertions](https://github.com/DmitrySoshnikov/regexp-tree#lookbehind-assertions) (stage 3 [proposal](https://tc39.github.io/proposal-regexp-lookbehind/)) allow matching a pattern only if it's preceded (or not preceded for negative) by another pattern.

We should investigate, whether it's possible (in any approximation) to compat-transpile them to ES2018->ES2015.

Matches `y` only

[2017-04-19 08:17] hg42 commented on #66
I think these assertions cannot be transformed into current javascript RegExp.

That's because they are *assertions*, which means they don't consume anything.

E.g.
[code]
would capture the x and the preceding character in the first group.
You can expressed weird patterns with it.
I always tried to avoid them because it's an expensive operation and not really easy to understand all consequences.
S

[2017-04-19 09:07] hg42 commented on #66
to be more clear:
look behind is easy for easy cases.

Mainly it's match isn't included in or excluded from the match results.
So it effects result[0] and doesn't steal character from the expression in front of it.

But because it anchors the following expressions it can be tricky inside complex nested expressions.
It's similar to the effects of a `\b` assertion or the famous `$^`-thing Dmitry wro

[2017-04-19 10:14] hg42 commented on #66
another example (or test case), where the assertion is for a longer string than the captured group:
[code]
applied to
[code]
returns `'dx'` for the first group (result[1]) and `'dxy'` for the whole match (result[0]).

You can see assertion as a second layer tested in parallel to the rest of the expression.
For a moment I thought, it should be possible to check the assertions in a second pass, chec

[2017-04-19 22:00] DmitrySoshnikov commented on #66
@hg42, thanks for the detailed analysis (as always :)), good points. Yeah, I think we should postpone with this issue for now, since it's not trivial, and the impact probably is not that big to worry about it.

[2017-04-19 22:02] DmitrySoshnikov opened #67 "Implement regexp diagrams"
We can use something like [railroad-diagrams](https://github.com/tabatkins/railroad-diagrams) to generate an `.html` file with the diagram, drawn for a regexp.

[code]

[2017-04-19 23:44] hg42 commented on #67
there is an add-on for atom showing railroad diagrams for regexps

[2017-04-20 22:39] DmitrySoshnikov commented on #46
The PR is: https://github.com/fkling/astexplorer/pull/220.

[2017-05-03 02:31] ridiculousfish opened #69 "Backreferences appearing before their capture groups incorrectly treated as decimal escapes"
The ES6 spec says that an expression like `\5` is a backreference "only if the integer value of DecimalEscape is <= NcapturingParens", referring to the total number of capturing groups in the entire expression. However regexp-tree only compares to the number of capture groups encountered by the time the backreference is parsed.

See [15.10.2.11_A1_T5  from test262](https://github.com/tc39/test262/

[2017-05-03 03:59] DmitrySoshnikov commented on #69
Yeah, confirm, thanks for catching this; though, it's a rare case, and in fact is a "forwardreference". Need to fix though.

[2017-05-03 04:25] DmitrySoshnikov commented on #66
Closing this for now.

[2017-05-03 04:25] #66 closed

[2017-05-03 04:26] DmitrySoshnikov commented on #46
The PR was merged.

[2017-05-03 04:26] #46 closed

[2017-05-04 17:37] DmitrySoshnikov commented on #2
Fixed in #70.

[2017-05-04 17:37] #2 closed

[2017-05-09 22:43] DmitrySoshnikov commented on #1
Fixed in https://github.com/silentroach/regexp-tree/commit/f2090d47e5375f1d9ce48d68e87440f60a3cdaaf.

[2017-05-09 22:43] #1 closed

[2017-05-11 00:38] DmitrySoshnikov opened #74 "Parser: fix Octal escape such as \75 to be treated as an Octal number, not Decimal"
[code]

[code]

And not:

[code]

See `LegacyOctalEscapeSequence` in Annex B: http://www.ecma-international.org/ecma-262/7.0/#sec-additional-syntax-string-literals

[2017-05-11 05:43] DmitrySoshnikov commented on #74
The issue is even deeper. Only `\0` should be treated as "Decimal", other escapes are Octal: `\123`, `\1`, `\7`.

However, `\8`, and `\9` are _simple chars_ (`8`, and `9` escaped, not codes).

[2017-05-11 07:20] qfox commented on #74
I'm not sure the semantics are important here but everywhere they are mentioned as "decimal". The only exception is `\0` which causes a `NUL`. [When processed](https://www.ecma-international.org/ecma-262/7.0/#sec-decimalescape) the `DecimalEscape` turns the literal into a number according to "The definition of “the MV of DecimalIntegerLiteral” is in 11.8.3.".

Note that in this interpretation the

[2017-05-11 07:28] DmitrySoshnikov commented on #74
@qfox, though the semantics is clearly exposed in today's regexp engines:

[code]

`regexp-tree` currently parses it as `K` (should be `=`).

Annex B affects RegExp, see e.g.

To manage the group backreferences:

[code]

[2017-05-11 07:48] DmitrySoshnikov commented on #74
And with Unicode `u` flag this is even a different semantics. Nodes gives me

[code]

CC @mathiasbynens

[2017-05-11 07:52] qfox commented on #74
In the semantics;

[code]
So the value is still interpreted according to the ("normal") `DecimalEscape` evaluation rules. Never as octal.

In char class escapes the escape may only be `\0`. I'm not entirely sure what the point of that extra rule is tbh.

That's because the cfg rule starts with `[~U]`. That means this exception only applies without the `u` flag. But I think you knew that. So this w

[2017-05-12 07:50] qfox commented on #74
@DmitrySoshnikov do you agree with the above interpretation of the spec? At this point I'm pretty confident that the escape is decimal and never octal. If it was `\0` it'll cause a syntax error if it is followed by another digit. Otherwise it contributes `NUL` to the regex. In all other cases (`\1 ... \9`) it'll parse into a back reference. You'll need to verify that the resulting index doesn't ex

[2017-05-12 18:32] DmitrySoshnikov commented on #74
@qfox, well, the semantics of the following, still says it's Octal because of legacy octal numbers:

[code]

[2017-05-12 19:05] qfox commented on #74
Ok let's trace that.

In unit mode; we start in A until annex B overrides something
[code]

[2017-05-12 23:48] DmitrySoshnikov commented on #74
Yeah, with `u` flag it's an invalid encoding. I'm not sure whether `regexp-tree` needs to actively and fully support Annex B (after all it's a depurated legacy stuff). Probably only for interpreter module, which still should interpret `/\75/.test('=');` as `true`. Not sure if it's even essential for the parser now. But for the parser, yes, it goes to `LegacyOctalEscapeSequence`.

[2017-05-14 06:06] DmitrySoshnikov commented on #74
@qfox, ah, autocorrect for "depurated", but that's right :) Yeah, I think we still need to fix and treat `\75` and other as Octal, and match `=` in the interpreter.

[2017-06-16 23:53] RReverser opened #75 "Suggestion: source map in transformer"
While source maps are not extremely useful for debugging on such a small data sets, they can be still handy for testing transformers and (re)using existing tools that can match transformed pieces of regexp with original ones.

Given that you already have API to generate transformed regexp, and you know original / final locations, it should be pretty easy to add source map support using https://www

[2017-06-17 00:27] DmitrySoshnikov commented on #75
Yep, sounds like a good idea 👍

I'll probably reach it at some point later, and of course will appreciate a PR in case.

[2017-06-18 11:22] RReverser commented on #75
@DmitrySoshnikov Started trying but noticed that currently AST lacks line/column locations, and my understanding is that regexps are not necessarily single-line... Would need to have such locations available in AST first if doing this in a non-hacky way.

[2017-06-18 23:09] DmitrySoshnikov commented on #75
@RReverser, ah, yes, it's tracked in the #49. In general there should be no issue with adding it (except it might be breaking change for existing transforms, but might be fine).

The Token, and AST node locations in the parsing handlers already have all needed information (for line, column, and offset). Currently we get only offsets, [here](https://github.com/DmitrySoshnikov/regexp-tree/blob/maste

[2017-06-28 08:58] BrainMaestro opened #76 "Optimizer: Do not optimize away escaped back and forward slashes"
Currently, the regex `/^.\//` is being optimized to `/^.//` which is not a valid regex.

[2017-06-28 18:20] #76 closed

[2017-06-29 18:58] RReverser opened #78 "Separate \w, \d, ... into separate node type"
All the other character types allow to match exactly a single character (as the node type `Character` suggests), but `\w`, `\d`, ... are mixed with single-char escapes under `meta` kind.

It seems reasonable to separate them into their own node type as they're something very different than a single char.

[2017-06-30 00:10] RReverser opened #80 "Consider using non-null value for "empty string""
Right now various productions such as `/(?:)/`, `/1|/`, etc. can produce `null` values in place of sub-expressions when parsed.

It could be useful (as in just "nice") to have instead a separate node type like `{ type: "Empty" }` so that one could always just `switch (node.type)` whenever `node` is an expression without extra check for `null`.

[2017-06-30 07:43] DmitrySoshnikov commented on #78
Yes, potentially we can move them to a separate node type. Since it'll be a breaking change, we'll need to have a good use-case for it. Initially I tried to make a simple AST format, but I'm open to reconsider it if there is a use-case (we'll also need to update all the docs, plugins, etc).

[2017-06-30 09:16] DmitrySoshnikov commented on #49
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/97daef91aec7a61fdd7a5a356e566ac65c3a834c.

[2017-06-30 09:16] #49 closed

[2017-06-30 09:16] DmitrySoshnikov commented on #75
I finally added line/column support, in https://github.com/DmitrySoshnikov/regexp-tree/commit/97daef91aec7a61fdd7a5a356e566ac65c3a834c 😄

[2017-06-30 12:23] RReverser commented on #75
Great, thanks! Maybe we can merge all the breaking changes together into a new release?

[2017-06-30 12:29] RReverser commented on #78
Mostly useful for analysis of a regexp (complexity and such). It's useful to rely on `Character` to be a single character, no matter what kind it is, while these classes break this assumption.

And just in general, it seems semantically correct to have them as a different node type.

[2017-06-30 12:36] RReverser opened #81 "\s optimization changes runtime semantics"
As per ECMAScript spec, `\s` matches any WhiteSpace or LineTerminator character:

![1248bc49-5e3a-45b7-aa45-8426aa28fd0a](https://user-images.githubusercontent.com/557590/27735672-bfa8e6b8-5d98-11e7-8352-cadcaa7ab926.png)

Currently optimizer docs say it transforms `[ \t\r\n\f]` to `\s` (and the opposite), but this changes runtime semantics of the RegExp as in fact `\s` matches many more character

[2017-07-01 07:23] DmitrySoshnikov commented on #81
Good catch! In practice though, as you mentioned, I'd consider it as an edge case. The "loose" mode sounds interesting, or we can just handle a white/black list of needed transforms, and exclude some transform if it changes the semantics on practice.

[2017-07-01 07:25] DmitrySoshnikov commented on #78
OK, I think it might make sense, I think we can go with this (that's said, we'll need to update all the related docs, etc).

[2017-07-03 14:52] RReverser commented on #81
I just wonder if people ever put such an explicit list of whitespace characters but mean `\s`, or maybe safer to just remove this particular optimisation and assume people wrote this list of characters because they intended to? (up to you to decide, of course)

[2017-07-03 14:53] mathiasbynens commented on #81
Yeah, let’s not change runtime semantics.

[2017-07-04 23:02] DmitrySoshnikov commented on #81
OK, need to think about it. Depending on how often the use-case is, we can either exclude the `\s` transform by default (and allow to opt-in), or, if it's very rare, to keep, and allow to opt-out when needed.

[2017-07-05 22:28] RReverser commented on #81
I don't think keeping it as-is is a very good idea, *especially* if it's rarely used, since then it can just bite silently much later in runtime.

[2017-07-31 11:04] BrainMaestro opened #83 "Incorrectly handles escaped forward slashes as duplicates"
`[\\]` is transformed to `[\]` which is incorrect. I looked around trying to fix it, but I'm not sure exactly how to. [This](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-class-remove-duplicates-transform.js#L21) is the relevant part though.

[2017-07-31 18:14] DmitrySoshnikov commented on #83
Thanks, good catch. The issue was actually in the unescape optimizer transform, fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/0d844999379287ebd0797463c20e08f672150c34, and in the `0.0.52`.

[2017-07-31 18:14] #83 closed

[2017-08-02 15:00] kurtextrem opened #84 "Optimizer doesn't seem to work on Windows"
Am I doing something wrong? http://prntscr.com/g3h4o4

[2017-08-02 15:04] kurtextrem commented on #84
Oh, it seems to work without the '.

[2017-08-02 17:44] DmitrySoshnikov commented on #84
@kurtextrem, thanks, I'll take a look.

[2017-08-02 20:53] DmitrySoshnikov commented on #84
Yeah, this seems a specifics of the Windows command line parameters. To unify both *nix, and Windows, we can probably check whether first and last symbols are equal to `'`, and strip them, if the platform is Windows.

So here where we [get the expression](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/bin/regexp-tree#L38), we can check something like this:

[code]

And add the `normali

[2017-08-07 10:59] kurtextrem commented on #84
I'll give it a try! :)

[2017-08-08 17:21] #84 closed

[2017-10-18 04:40] DmitrySoshnikov opened #86 "Interpreter: implement NFA/DFA"
This is a classic RegExp engine implementation based on a finate automaton. Should include NFA, and DFA as a subset construction from ε-NFA.

[2017-10-18 04:41] DmitrySoshnikov commented on #42
This will be split on NFA/DFA implementation, and ECMAScript recursive implementation. Closing this one, and will be tracking each separately. See #86 for NFA/DFA.

[2017-10-18 04:41] #42 closed

[2017-10-19 22:25] DmitrySoshnikov opened #87 "[NFA/DFA] Implement transforms for syntactic sugar"
NFA/DFA interpreter supports basic building blocks, such as Kleene-closure: `a*`. We should transform several constructs which are syntactic sugar to their basic representation, so the interpreter can handle them (see some [TODOs](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/interpreter/finite-automaton/src/nfa/nfa-from-regexp.js#L58) left).

- `a+` -> `aa*`
- `[a-z]` -> `a|b|c|d

[2017-10-19 22:36] DmitrySoshnikov opened #88 "CLI: implement DFA transition printing"
Giving a regexp `--table` option should print DFA transition table for it. This can be done via `interpreter/finite-automaton` module, by creation of `DFA` instance, and feeding its `getTransitionTable` to the table drawing module.

[2017-10-20 03:35] DmitrySoshnikov commented on #88
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/2a87b970b06c780d8c78ba7b20468ac5116d8b34.

[2017-10-20 03:35] #88 closed

[2017-10-20 05:13] #86 closed

[2017-10-23 23:17] DmitrySoshnikov opened #89 "DFA: implement optimizing table compression"
Currently subset construction from NFA to DFA doesn't apply optimization to compress resulting DFA table.

For example:

[code]

Results to:

[code]

While it could only be one state:

[code]

[2017-10-25 00:16] DmitrySoshnikov opened #90 "NFA/DFA: support explicit ^ and $ assertions"
Currently NFA/DFA matcher tests for the entire string, as it would be treated as `^ ... $`.

E.g., this matches:

[code]

But this doesn't:

[code]

However, the later should match as well, since `"a"` character presents in the `"ab"` string.

So we should support explicit `^` and `$` anchors in NFA/DFA interpreters. With this we should get:

[code]

[2017-11-05 18:41] Golmote opened #91 "Optimizer should not unescape |"
Currently, `|` is unescaped by optimizer, when used outside a character class.

Test:
[code]

Current result:
[code]

Expected result:
[code]

[2017-11-05 19:32] Golmote opened #92 "Error thrown when using range \xA0-\uFFFF"
When using range `[\xA0-\uFFFF]` in a character class, the parser throws the following error:

[code]

I guess this type of range is unusual, but I'm pretty sure it's valid (and AFAICT it works in browsers).

I think the same error is thrown when combining a simple char with a char code, like `a-\xA0` or `a-\uFFFF`.

[2017-11-05 19:41] Golmote opened #93 "Optimizer should not unescape - in character class"
Currently, `-` is unescaped by optimizer, when used inside a character class.

Test:
[code]

Current result:
[code]

Expected result:
[code]

[2017-11-05 19:45] Golmote opened #94 "Optimizer: implement "remove duplicates" transform for disjunction"
It would be nice if the optimizer removed duplicates in disjunctions:

`/ab|ab/ -> /ab/`

[2017-11-05 19:50] Golmote opened #95 "Optimizer: \{ and \} must not be unescaped all the time"
Currently, `{` and `}` are always unescaped by optimizer. You should consider the few cases where it might change the meaning, though.

Test:
[code]

Current result:
[code]

Expected result (or at least one option):
[code]

[2017-11-05 20:20] DmitrySoshnikov commented on #93
Good catch! We should add `-` here: https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-escape-unescape-transform.js#L44. I can take a look later on tonight (or if you reach it earlier, will appreciate a PR too).

[code]

Should be:

[code]

[2017-11-05 20:24] DmitrySoshnikov commented on #95
Yeah, clearly a bug, thanks for the catch! We should consider `\{` in https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-escape-unescape-transform.js#L48.

[2017-11-05 23:53] DmitrySoshnikov commented on #93
Quick bug fix is in the https://github.com/DmitrySoshnikov/regexp-tree/commit/a5e4d57e6d29e403892172ab95f796ab001ce0ad. We can do more sophisticated check in a separate diff (TODO is left).

[2017-11-05 23:53] #93 closed

[2017-11-05 23:53] DmitrySoshnikov commented on #95
Quick bug fix is in the https://github.com/DmitrySoshnikov/regexp-tree/commit/a5e4d57e6d29e403892172ab95f796ab001ce0ad. We can do more sophisticated check in a separate diff (TODO is left).

[2017-11-05 23:53] #95 closed

[2017-11-05 23:55] DmitrySoshnikov commented on #92
Yeah, we should check which values come here: https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L180

[2017-11-05 23:58] DmitrySoshnikov commented on #94
Yep, would be a good one. I can take a look later, and of course will appreciate a PR in case you wanna build this plugin. It would be similar to this transform: https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-star-to-plus-transform.js#L24-L34. We just need to check a sibling, and whether they have the same source, and remove one of them.

[2017-11-06 21:09] Golmote commented on #94
Thank you for the quick answer !
I tried to dig into this to provide you with a PR, but I think I'm missing a point somewhere. Disjunctions seem to have `left` and `right` properties instead of `expressions`. I can't seem to find appropriate methods in NodePath to navigate those.

[2017-11-06 23:00] DmitrySoshnikov commented on #94
Yep, the Disjunction (aka "OR") operation has `left` and `right` nodes. Notice, it's also left-associative, that is:

[code]

is actually:

[code]

still having only one left-, and one right- hand side.

The `NodePath.getForNode(...)` returns a path for a node. Probably something like this should work (haven't checked yet):

[code]

[2017-11-07 05:50] DmitrySoshnikov commented on #91
Thanks! Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/fe1e67d423d672d4851d45c861a37266393f789e.

[2017-11-07 05:50] #91 closed

[2017-11-08 06:53] #92 closed

[2017-11-12 18:36] #94 closed

[2017-11-13 04:26] DmitrySoshnikov commented on #89
Need to incorporate this gist: https://gist.github.com/DmitrySoshnikov/45102c2e32aa43429c956b40c8c181cd

[2017-11-15 07:23] Golmote commented on #56
@DmitrySoshnikov #104 fixed half of this issue.

Regarding the removal of empty capturing groups, I think we should not do this transform by default. We might want to allow the user to activate it somehow, then they are responsible if the semantics is changed.

Also, empty capturing groups might appear explicitly in PCRE regexps.
Consider the following non-capturing group using `(?|` that resets t

[2017-11-19 08:45] Golmote opened #111 "nomnom dependency is deprecated"
The [nomnom](https://github.com/harthur/nomnom) dependency is deprecated. You should consider switching to [commander](https://github.com/tj/commander.js) or something equivalent.

[2017-11-19 10:17] Golmote opened #114 "Parser should handle Unicode mode"
Currently, the parser parses `/\uD83D\uDE80{2}/u` the same way it parses `/\uD83D\uDE80{2}/`: two Chars, the second one being in a Repetition.
In Unicode mode, it should handle it as surrogate pairs, i.e. a single codepoint, the same way `/\u{1F680}{2}/u` would be.

[code]

On the opposite, `/\u{1F680}/` (no unicode flag) should not be parsed as a Char, but instead as the litteral sequence of Char

[2017-11-20 04:51] DmitrySoshnikov commented on #111
Cool, thanks for the heads up. Yeah, I think going with `commander` is the right approach. (note to myself: I'll have to replace `nomnom` in all other my projects).

[2017-11-21 07:41] Golmote commented on #114
Fixed with #116

[2017-11-21 07:41] #114 closed

[2017-11-22 19:51] DmitrySoshnikov commented on #56
Yeah, removing non-capturing is enough here, messing with capturing groups removal may change semantics, and cause some bugs.

[2017-11-22 19:51] #56 closed

[2017-11-28 18:54] Golmote commented on #111
Fixed when #120 was merged.

[2017-11-28 18:54] #111 closed

[2017-11-28 19:01] #8 closed

[2017-11-29 19:29] Golmote opened #128 "Optimizer: char-escape-unescape-transform must handle class ranges"
The `char-escape-unescape` transform calls `preservesEscape()` instead of `preservesInCharClass()` for chars inside a class range, because their parent is a ClassRange, not a CharacterClass.

This leads to `/[+-\?]/` not being optimized as `/[+-?]/`.

[2017-11-29 19:33] Golmote opened #129 "Optimizer: Unescape ] char outside CharacterClass"
The optimizer could unescape the `]` when it's outside a CharacterClass.

Current behaviour:
`/\][a\]d]\]/` is not optimized.

Expected behaviour:
`/\][a\]d]\]/` -> `/][a\]d]]/`

[2017-11-30 08:30] Golmote opened #134 "Support Windows for build script"
`npm run build` currently throws errors on Windows.

I usually build manually by calling:
[code]

[2017-11-30 08:55] Golmote opened #135 "Optimizer or minifier ?"
This is more of a question than an issue.

Is the Optimizer more an optimizer or a minifier? Or both at the same time?

Currently, the Optimizer does some "optimizations" that actually increase the length of the regexp, like:
`/aa/` (2) -> `/a{2}/` (4)
`/a|b/` (3) -> `/[ab]/` (4)
`/aa+/` (3) -> `/a{2,}/` (5)
If it's supposed to be a minifier, we should try to avoid those cases. (Note that this cou

[2017-11-30 09:06] Golmote opened #137 "Optimizer: Don't unescape space and # when x flag is set"
Currently, an error is thrown when trying to optimize `/\ \#/x` because it unescapes those chars.
I guess the optimizer should handle the `x` flag better to prevent this.

[2017-11-30 19:10] DmitrySoshnikov commented on #134
Yeah, I had to switch to `shelljs` for this reason, in Syntax repo: https://github.com/DmitrySoshnikov/syntax/blob/master/scripts/build.js.

[2017-11-30 19:14] #128 closed

[2017-12-01 22:11] DmitrySoshnikov commented on #135
@Golmote, all good points. Initially I was thinking in terms of "minifier", however, "optimizer" might also mean whether it's faster to parse/execute a specific construct.

The things with printable chars, and making codes simpler also makes sense, would be great to have.

Potentially we can provide also `--minimize`, unless it'll be confusing what to use in which use-case: `--optimize` or `--mini

[2017-12-07 22:42] Golmote commented on #135
@DmitrySoshnikov I think the default options should lead to an output that follows those principles:

- Optimize and minimize as much as possible
- Don't (ever?) make the optimized regexp longer than the original
- Maintain readability

(By readability, I mean avoiding conversion to unicode chars, avoid ranges that don't "feel" right like `Z-a`, etc.)

That should keep the standard end user happy.

[2017-12-07 23:15] Golmote commented on #134
Oh I didn't realize you assigned yourself on this. Well I gave it a try, feel free to discard the PR if you have something else on your mind ;)

[2017-12-08 04:20] DmitrySoshnikov commented on #134
@Golmote, no worries! I started the diff at work where I have Windows machine, but haven't finished it yet. BTW, I wasn't able to run parser generation on Windows due to bug in Syntax which I had to fix first (that's why I postponed this issue).

Specifically, this bug: https://github.com/DmitrySoshnikov/syntax/commit/d7610031b7f725887c3f6a34785fd977d2348f90 the lexer didn't work for me because of

[2017-12-08 04:24] DmitrySoshnikov commented on #135
@Golmote, yep, agreed; all good points! I am fully supportive here.

[2017-12-08 04:28] #137 closed

[2017-12-08 07:50] Golmote commented on #134
@DmitrySoshnikov Wow, I didn't realize you fixed it in `syntax-cli`, that's great!
I ran into this issue the first time I edited the grammar, indeed. I had to configure my IDE to only use `\n` when working on `regexp-tree`.

[2017-12-08 08:14] DmitrySoshnikov commented on #134
Yeah, the issue with `\r\n` was a generic issue of the Syntax tool anyways.

[2017-12-08 08:15] #134 closed

[2017-12-11 07:45] Golmote commented on #129
This issue was fixed with #133.

[2017-12-11 07:45] #129 closed

[2017-12-11 08:00] Golmote opened #140 "Optimizer: Must it keep loc values?"
I just found out that `regexp-tree -e "/[0123456789]/" -o` throws an error, because [the `char-class-to-meta` transform tries to rewrite the `loc` values](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-class-to-meta-transform.js#L44) while the other transforms (specifically the `char-class-classranges-merge` transform in this case) do not set them.

Are th

[2017-12-11 08:20] DmitrySoshnikov commented on #140
Hm.. interesting. Yeah, I added it initially trying to preserve a "parsed state", but I think we actually don't need one in this case, and it safely can be removed. Trying to keep the locations adjusted will just make transforms harder to follow with no good reason.

[2017-12-11 18:53] #140 closed

[2017-12-17 11:36] Golmote commented on #135
@DmitrySoshnikov Hi, I'm encountering issues while trying to implement this.

- With our current `yargs` behaviour, options would technically be global, and not specific to the Optimizer. I'm not sure if it's an issue. If we wanted to be more specific, I think we should use commands instead of args (See https://github.com/yargs/yargs/blob/master/docs/advanced.md#commands) but I'm not sure we want

[2017-12-18 07:15] DmitrySoshnikov commented on #135
@Golmote, I actually was thinking about command-based interface, since we're starting to have options which may collide. I think this can be appropriate approach long term (would be great to somehow preserve backward compatibilities, and not break previous versions).

The explicit `--loose-meta-s`, `--loose-meta-w`, as well as a bunch of `--lowercase-insensitive`, `--merge-class-ranges` doesn't se

[2017-12-19 07:30] Golmote commented on #135
@DmitrySoshnikov The problem is that even if we can have per-command/per-module options, they would still end up being kinda global on the programmatic side.

Consider a `--loose` option for the Optimizer (let's not think about any more granular control for now). On the programmatic side, the Optimizer will have to pass this option on to the Transform module, which in turn will have to pass it on

[2017-12-20 21:28] DmitrySoshnikov commented on #135
@Golmote, yeah, makes sense. Alternatively we could have some global "options registry", where keys are the module names (optimizer, transform, etc), and values are the actual options for them.

In this case transforms may just require this registry, and get needed options. I can also be just global `Options` object for all the global shared options. It can track a module-level storage, which is i

[2017-12-26 00:17] DmitrySoshnikov opened #142 "Parser: group names should be unique"
See: https://tc39.github.io/proposal-regexp-named-groups/#sec-patterns-static-semantics-early-errors

Currently parser parses normally:

[code]

And should throw on duplicate name of the second group.

[2017-12-26 01:09] DmitrySoshnikov opened #143 "Parser: Capturing groups: throw on Unicode escape name if no `u` flag"
See: https://tc39.github.io/proposal-regexp-named-groups/#sec-patterns-static-semantics-early-errors

This seems should throw:

[code]

But this should work:

[code]

[2017-12-26 01:10] DmitrySoshnikov commented on #143
@mathiasbynens, can you confirm please?

CC @Golmote, @nicolo-ribaudo

[2017-12-26 20:29] DmitrySoshnikov commented on #142
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/2aa83716ffad05062848f2ded50c1ea39990a2aa.

[2017-12-26 20:29] #142 closed

[2017-12-28 13:11] mathiasbynens commented on #143
Confirmed. Note that `/\u{41}/` by itself [does not throw](https://mathiasbynens.be/notes/es6-unicode-regex#impact-syntax), though — please take care not to change that behavior.

cc @littledan

[2017-12-29 00:36] DmitrySoshnikov commented on #143
@mathiasbynens, thanks; yeah, `/\u{41}/` by itself doesn't throw, and it's correctly handled already.

[2017-12-30 07:37] DmitrySoshnikov commented on #143
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/1badfb5e3da94b2342c701b9ef92fbfa3e5f3ca5.

[2017-12-30 07:37] #143 closed

[2017-12-30 07:40] DmitrySoshnikov opened #144 "Parser: Unicode group names and named group references"
Currently parser doesn't consider group reference as a reference since doesn't normalize Unicode names to check:

[code]

This should recognize `\k<AB\u{41}\u0042` as a group reference (`ABAB`).

[2017-12-30 18:41] davisjam opened #146 "Bad interaction between RegExp input and setOptions"
[code]

Throws the following error (line 95 is the final line shown here):

[code]

[2017-12-30 18:56] davisjam commented on #146
Works fine if you do

[code]

Note that the example I'm using is modeled after this example from the README, which also fails at the moment.

[code]

I am using node v8.9.3.

[2017-12-30 19:43] DmitrySoshnikov commented on #146
Yeah, good catch as well. It's because `regexpTree.parse` and `regexpTree.parser.parse` are two different functions.

The [regexpTree.parse](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/index.js#L53) is a wrapper on top of the `regexpTree.parser.parse`, and does `toString` [coercion](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/index.js#L54) before passing the argument

[2017-12-31 22:47] DmitrySoshnikov commented on #146
Actually, we can just patch the `parse` method in regexp-tree, [here](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/index.js#L11):

[code]

[2018-01-01 20:20] DmitrySoshnikov commented on #146
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/2af8f847c9e58088daa502f77cbebae37c0b26a4, and in published in `v0.0.77`.

[2018-01-01 20:20] #146 closed

[2018-01-16 23:03] davisjam opened #147 "No pre- and post- hook on traversal"
I'd like to traverse the AST and have pre- and post- hooks before and after node visits, respectively.

It looks like this is possible in traverse.js, just that the pre- and post- hooks are not exposed to the user.

[2018-01-17 00:36] DmitrySoshnikov opened #149 "DFA: implement prefix match"
These should match:

[code]

[2018-02-06 05:00] DmitrySoshnikov opened #150 "Traverse: deprecate `asNodes` option"
The `asNodes` isn't used internally, and but still is handled in the traverse module. It's not that much one can do traversing just the nodes, and we should encourage usage of the `NodePath` instead as the default (and only) approach.

[2018-02-15 20:34] swernerx commented on #135
I just want to share a minor oddity I saw in my own code using a eslint plugin to "optimize regexps":

[code]

to:

[code]

The result is neither better readable and should probably only be slightly higher in performance (I am not deep into regexp tech). At least using this "optimization" inside a eslint rule makes it pretty worthless. In this case readability trumps even minor perf optimizations.

[2018-02-15 20:36] swernerx commented on #135
Probably it would be useful to disable a few specific optimizations e.g. in the mentioned case it seems to be related to repeating characters.

This is the eslint plugin I am using: https://github.com/BrainMaestro/eslint-plugin-optimize-regex

[2018-02-15 21:52] DmitrySoshnikov commented on #135
@swernerx, good and valid point, thanks. Yeah, the optimizer module already can accept a [whitelist](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/regexp-tree.js#L126) of the needed transforms.

So potentially `eslint-plugin-optimize-regex` could expose an ability to provide this whitelist in the eslint plugin option.

But I agree `ttf` -> `t{2}f` might be a bit too aggressive "op

[2018-02-15 22:09] Golmote commented on #135
Hi! I totally agree. I got a bit worried of adding the options thing, because of all the repercussions it had on the codebase last time I tried. I'm not even sure I'm ready to give it another try anytime soon.

I could definitely go check and try to remove some of the bad optimizations I mentionned in the first post (https://github.com/DmitrySoshnikov/regexp-tree/issues/135#issue-278042051), thoug

[2018-02-15 22:41] DmitrySoshnikov commented on #135
@Golmote,

Sounds good to me, yeah, we can probably exclude the one @swernerx mentions with the single chars.

[2018-03-04 10:42] Golmote opened #152 "Optimizer: Ungroup transform does not merge adjacent Alternatives"
At the moment, when the Ungroup transform removes groups, it does not merge adjacent Alternatives, leading to an AST that should not naturally happen on parsing.

For example: `(?:abcd)(?:abcd)` is an Alternative containing two Groups.
When the Ungroup transform runs, it transforms it to an Alternative of two Alternatives. This gives the correct result when generated as a string or a regexp, but t

[2018-03-05 07:11] #152 closed

[2018-03-07 16:46] davisjam commented on #147
Fixed in #148.

[2018-03-07 16:46] #147 closed

[2018-03-07 19:41] davisjam opened #154 "Interested in more examples?"
This is just a question.

I've written two small scripts based on the traversal API.

1. Script 1 implements substack's [safe-regex](https://github.com/substack/safe-regex) project, but it fixes the known bugs in that program.
2. Script 2 checks for the presence of certain assertion types in a regex.

Both use pre-processing that converts (some) Python syntax into regexp-tree syntax.

@DmitrySoshn

[2018-03-07 20:42] DmitrySoshnikov commented on #154
@davisjam, yep, good idea, the more good practical examples, the better!

Re: `safe-regex`, I see it uses `ret` package as a dependency, which is a "regexp tokenizer", and can be limited by not having full AST. If you fix some issues in that program, this is awesome!

[2018-03-07 20:44] davisjam commented on #154
I have submitted PRs to `safe-regex`. The author appears to have abandoned it.

`safe-regex` is actually how I found `regexp-tree` -- dissatisfaction with `ret` led me here.

[2018-03-07 20:44] davisjam commented on #154
OK. I'll open a PR in a few days.

[2018-03-07 22:45] davisjam opened #155 "Transform example does not work"
Here is an example of the `transform` API taken from the README.

[code]

This is the output when I run that example:

[code]

The `transform` code runs but does not have any visible effect.

[2018-03-07 23:15] davisjam commented on #155
By comparison to `src/transform/__tests__/transform-basic-test.js`, the issue seems to be this line from the example:

[code]

It should be

[code]

[2018-03-11 22:33] silentroach opened #156 "Wrong classranges optimization"
Something is wrong with classranges optimizations, example here:

    $ bin/regexp-tree -e '/[^a-zA-Z0-9_!#$%&*@＠]/' -o

    Optimized: /[^\d!#$%&*@-Z_a-z＠]

With `charClassClassrangesMerge` optimization disabled I have better result:

    Expected:  /[^\w!#$%&*@＠]/

[2018-03-12 00:20] DmitrySoshnikov commented on #156
@silentroach, thanks, good catch!

CC @Golmote: seems something weird is happening in the ranges, or in the recent new/old result comparison.

[2018-03-12 00:27] silentroach commented on #156
Holy shit, it is not a bug O.o

[2018-03-12 00:33] #156 closed

[2018-03-12 01:10] davisjam commented on #156
Not technically a bug, but looks like one.

I think it would be helpful to clarify the behavior of the optimizer in two places:

1. [Here](https://github.com/DmitrySoshnikov/regexp-tree#using-optimizer-api) in the main README, say "This can result in potentially-surprising results. See the README".
2. In the [optimizer README](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/optimize

[2018-03-12 04:12] DmitrySoshnikov commented on #156
@davisjam, yeah, whatever that can clarify some weird behavior, and make usage easier, we can add to the README sections.

The "potentially-surprising results" wording seems a bit negative, underlying some potentially "bad parts" of the tool, which I don't like 😄I.e. instead of negative wording, we should focus on "clarifying specific features wording".

So yes, please feel free to open a PR with

[2018-03-12 17:42] DmitrySoshnikov commented on #155
Yep, thanks, fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/5abf91ad88352b9afd5a6a7a0ca0747c6dfb7d4f.

[2018-03-12 17:42] #155 closed

[2018-03-12 21:43] davisjam commented on #156
@DmitrySoshnikov See #158.

[2018-03-13 21:50] #89 closed

[2018-06-18 05:31] #154 closed

[2018-06-18 05:34] davisjam commented on #154
@DmitrySoshnikov FYI I now have publish rights to `safe-regex` and am working on a new version that uses `regexp-tree` and embeds the examples we talked about in #159.

[2018-06-18 05:35] DmitrySoshnikov opened #161 "[Interpreter] Implement ECMAScript evaluator"
In addition to the educational finite-automata evaluator, we should implement the [regexp patterns semantics](https://tc39.github.io/ecma262/#sec-pattern-semantics) from the ECMAScript spec. Ideally this should be close to the spec as possible, but some optimizations deviating from spec can be applied either.

[2018-06-18 05:39] DmitrySoshnikov commented on #154
@davisjam, this sounds great! Let me know in case you'll need any support or help.

[2018-09-15 20:34] regseb opened #162 "Regex with 'u' flag and escaped special characters can't be parsed"
Hi,

Regex with unicode flag and some escaped special characters can't be parsed. For example the command `regexp-tree -e '/\./u'` returns "`invalid Unicode escape \.`". And also:

- `/\^/u`
- `/\$/u`
- `/\{/u`
- `/\}/u`
- `/\]/u`

The other special characters work (`*`, `+`, `?`, `(`, `)`, `|`, `[`, `\`).

[2018-10-23 09:08] denisx opened #163 "Wrong sorting/optimization"
Using BrainMaestro/eslint-plugin-optimize-regex (which use your library)

catch a bug:
[^a-zа-яё -]+/gi
wants to be
[^ -a-zа-яё]+/gi
then wants to be
/[^ -azа-яё]+/gi

[2018-10-26 20:09] DmitrySoshnikov commented on #163
@denisx, thanks, I'll try to take later on into this. At will of course appreciate a PR in case you'll reach it earlier.

[2018-10-28 18:47] davisjam opened #164 "Nested capture group numbering is inverted"
The regex `/(((a)b)c)/` contains 3 groups. Nested groups are numbered left-to-right by left parentheses. So backreference `\3` matches "a", backreference `\2` matches "ab", and backreference `\1` matches "abc".

For example:

[code]

I am running regexp-tree v0.0.85.

It looks to me like nested groups are numbered in reverse, with the outermost given the largest number and the innermost given the

[2018-10-28 19:34] davisjam commented on #164
I believe this is due to the recursive nature of the parsing.

regexp.bnf includes:

[code]

Because we resolve the language recursively (I assume?), we update `capturingGroupsCount` and create the `Node` for inner groups before outer groups.

Given that inner nodes resolve before outer ones, I don't see a good way to address this issue in the parser.
I think the cleanest solution might be to make

[2018-10-28 19:44] davisjam commented on #164
This behavior also introduces bugs in the interpretation of backreferences.

Consider:

`((a)\2)`

In `regexp-tree` this backreference would be interpreted as referring to the outer group (see regexp.bnf excerpt below), which would not yet have been defined. So it will be rendered as a `Char` instead.

[code]

# Current behavior

Incorrectly interpreting `\2` as a not-yet-defined backreference:

[

[2018-10-29 06:04] DmitrySoshnikov commented on #164
@davisjam, good catches! I'll try to take a look into this soon. Ideally we'll want to avoid double-passes over the AST at parsing level. Hopefully, it'll be possible; if not, yes, we'll need to have the second pass.

[2018-10-29 06:17] DmitrySoshnikov commented on #164
Yeah, we'll need to do a post-parse processing, but instead of doing the full pass of the whole AST, we'll just need to patch the capturing `Group`.

For this, during the building the AST, we can collector the `Group` nodes to some set, and then just patch each node.

Something like this:

[code]

And later on:

[code]
I'll try to reach it later, and will appreciate a PR in case you get earlier to

[2018-10-29 14:14] davisjam commented on #164
I took an approach along these lines in #165. I can't quite see how to make it work. Complete group number inversion is not correct either. Let's move the discussion on a fix to #165.

[2019-01-07 08:08] Fazerty opened #166 "TypeScript definitions"
Hello,

I'm creating in typescript a library ([phrasalExpressions](https://github.com/Fazerty/phrasalExpressions)) similar to JSVerbalExpressions using regexp-tree.

Is it possible to export interfaces (so I hadn't to do it in [interfaces.ts)](https://github.com/Fazerty/phrasalExpressions/blob/master/src/ast/interfaces.ts) ?

Is it possible to rename Regexp interface to AstRegexp for example to av

[2019-01-07 08:25] Fazerty opened #167 "Meta character . in characterClass is allowed?"
Hello,

Adding the meta specialCharacter '.' in a CharacterClass shouldn't lead to an error?

Generate a regexp from
[code]
has this result
`/[.]/gm`

Best regards

[2019-01-08 00:01] DmitrySoshnikov commented on #166
Hi, @Fazerty

Looks like a great module, congrats!

@RReverser at some point added TypeScript's annotations, [here](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/index.d.ts). We should probably revisit it, and adjust with your [interfaces.ts](https://github.com/Fazerty/phrasalExpressions/blob/master/src/ast/interfaces.ts) if it makes more sense. I'll appreciate a PR for this.

Both `g

[2019-01-09 10:49] Fazerty commented on #166
All the comments I did were for the typescript definition file.
generate, and toRegExp are exposed in the main module but not exported in the index.d.ts.
 ? for the kind  of SimpleQuantifier is missing in the index.d.ts.
In the RangeQuantifier interface in the index.d.ts the 'to' parameter is not optional

So I changed the index.d.ts and I did a pull request.

[2019-01-11 07:34] #166 closed

[2019-01-15 01:31] DmitrySoshnikov commented on #164
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/6709afd1192012e6caac60b4d4d8d38c646bb87a.

[2019-01-15 01:31] #164 closed

[2019-01-22 13:12] realityking opened #170 "Open to splitting the CLI into its own repository?"
`regexp-tree` recently became a dependency of `@babel/preset-env`. Currently the module combines the CLI and the library, which brings in dependencies that are only required. Would you be open to splitting it into separate repositories or two npm packages in a monorepo?

I'm happy to do the leg work for this but it's a bit too much work to just make a proposal without asking first. 🙂

[2019-01-22 19:16] DmitrySoshnikov commented on #170
@realityking, yes, I was actually thinking about this already. Splitting the CLI (into its own `regexp-tree-cli`) definitely makes sense. In addition moving forward, I think we can also separate interpreter module, etc into own sub-packages.

And yes, I'll appreciate a PR of course for this -- we can start from separating the CLI. Two separate packages with the monorepo sounds good.

[2019-02-18 03:32] DmitrySoshnikov commented on #170
The CLI is moved to the https://github.com/DmitrySoshnikov/regexp-tree-cli. I'll publish it soon, and will remove CLI-related dependencies from the original `regexp-tree` package.

[2019-02-18 03:51] DmitrySoshnikov commented on #170
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/367668980d74bf2483d5fbc15d517ea0e9b6d3c3, published in `v.1.1.3`.

[2019-02-18 03:51] #170 closed

[2019-02-18 06:43] panhezeng opened #172 "Error: Cannot find module 'cli-table3'"
@babel/plugin-transform-named-capturing-groups-regex
dependencies
regexp-tree

regexp-tree TablePrinter
dependencies
cli-table3

but package.json peerDependencies or dependencies no cli-table3

require.context("@/config/vuex/types/", false, /(?<!index)\.js$/)

npm run dev

Error: Cannot find module 'cli-table3'

[2019-02-18 12:04] realityking commented on #170
Thank you! And sorry I wasn't able to help, life got in the way the last few weeks.

[2019-02-18 19:03] DmitrySoshnikov commented on #172
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/f1fca64fc32436c047d55816ea6121487812a425, and in `v1.1.5`.

[2019-02-18 19:03] #172 closed

[2019-02-18 19:18] DmitrySoshnikov commented on #170
@realityking, no problem, and thanks for the report and suggestion!

[2019-04-10 01:56] dannybrian opened #173 "grammar expects regex to not end after a #comment with /x"
The current comment grammar eats up the slash and flags after a comment when using the `x` flag:

[code]

This yields "SyntaxError: Unexpected end of input". See pull request for fix and changed test to match. Thanks!

[2019-04-12 05:19] DmitrySoshnikov commented on #173
@dannybrian, thanks, this might be a good addition. Though we need to consider whether it reflects semantics of a line-comment in existing systems. Usually a line-comment goes until the end of of a string, whatever symbols it contains.

[code]

In the first comment,

[2019-04-27 21:20] DmitrySoshnikov opened #175 "Parser: incorrect capturing group number"
Example:

[code]

gives number `2` for both groups `a`, and `b`.

Expected: a - 2, b - 3.

See: https://github.com/babel/babel/issues/9904

[2019-04-28 05:52] DmitrySoshnikov commented on #175
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/b0babb4d42ab71fc2700b45c1a893ef0264bc533:

- `regexp-tree`: `v0.1.6`
- `regexp-tree-cli`: `v0.0.5`

[2019-04-28 05:52] #175 closed

[2019-05-14 19:54] ajafff opened #176 "Cannot parse unicode property escapes"
The following regular expressions cannot be parsed:
[code]
https://astexplorer.net/#/gist/68b236a1dd356b9194a456de5ce9e7ed/e0ef2417e9a21e948ecd102744ef3b3f3b77274b

As of ES2018 this is valid sytax: https://github.com/tc39/proposal-regexp-unicode-property-escapes

[2019-05-16 23:36] DmitrySoshnikov commented on #176
@ajafff, thanks for the report, I'll take a look (and will appreciate a PR in case you reach it earlier than me).

[2019-05-17 05:19] DmitrySoshnikov commented on #176
Working on it..

[2019-05-17 22:30] #176 closed

[2019-05-18 02:57] DmitrySoshnikov opened #178 "Parser: add new Unicode property names"
See https://github.com/tc39/ecma262/issues/1219

[2019-05-19 06:29] DmitrySoshnikov opened #179 "Compat transpiler: Implement Unicode property escapes"
Example:

[code]

Compiles to:

[code]

See example in https://mothereff.in/regexpu (@mathiasbynens)

[2019-05-19 17:58] mathiasbynens commented on #179
Given the complexity and large amounts of Unicode data involved, would it make sense to re-use [the regexpu-core implementation](https://github.com/mathiasbynens/regexpu-core) for this?

I keep it up to date whenever Unicode updates, as well as [the Test262 tests](https://github.com/mathiasbynens/unicode-property-escapes-tests) and V8 implementation.

[2019-05-19 19:26] DmitrySoshnikov commented on #179
Perhaps -- depending on how large this dependency is. Currently I try to keep regexp-tree with no/minumum number of dependencies on external libraries. The tool has transformation API, so it's kinda weird to involve a separate transformation API/parser/etc. I'll need to take a closer look.

[2019-05-20 01:30] mathiasbynens commented on #179
I think it makes sense to have this transpiler be a separate regexp-tree plugin, in a separate repo + npm package (regardless of your decision to re-use regexpu-core or to do something else), for the reasons you describe.

FYI, the raw data (based on the Unicode data) lives in https://github.com/mathiasbynens/regenerate-unicode-properties. If you decide not to reuse regexpu-core perhaps you could

[2019-05-20 18:19] ajafff opened #180 "Invalid optimizations involving backreferences"
[code]

This changes the backreference followed by a `0` to an octal escape `10`. With the `u` flag this would actually be a syntax error.

[2019-05-21 05:32] #178 closed

[2019-06-25 18:19] DmitrySoshnikov commented on #48
We can have `plugins` directory with own parser, generator, etc.

[code]

The `PCREGenerator` class can extend default [generator](https://github.com/DmitrySoshnikov/regexp-tree/tree/master/src/generator) with own node types.

For parser we can copy original [BNF file](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf), and extend it with functionality needed for PCR

[2019-07-05 05:11] shinnn opened #183 "Some capture group names are converted to [object Object]"
When a `RegExp` has a named capture group `laaalaaaaaaaaaa`, it throws the following error.

[code]

I’m not sure why, but when the group name is `laaalaaaaaaaaa`, the number of whose trailing `a` is less than `laaalaaaaaaaaaa` by 1, it doesn’t throw any errors.

[code]

[2019-07-05 23:22] DmitrySoshnikov commented on #183
Thanks; was a parser issue. Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/0ca284e359768a67c14b20b140b8337e1d4f373c and in `v0.1.11`.

[2019-07-05 23:22] #183 closed

[2019-07-06 06:57] DmitrySoshnikov commented on #180
Thanks, yes, clearly a bug. Will try to take a look, and will appreciate a PR in case.

The transforms causing issues:

- [char-class-to-single-char-transform](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/char-class-to-single-char-transform.js)
- [ungroup-transform](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/transforms/ungroup-tr

[2019-07-09 07:39] shinnn commented on #183
@DmitrySoshnikov `v0.1.11` works as expected. Thanks for you very quick response and fix.

[2019-08-22 21:02] rbuckton commented on #144
It also fails to recognize unicode group names:

[code]

[2019-08-26 03:40] #144 closed

[2019-09-23 00:48] nebrelbug opened #188 "BUG: Large RegExp errors"
I have a large Regular Expression (generated by precompiling a Moo lexer) that doesn't minify as expected. See https://runkit.com/nebrelbug/regexp-tree-bug

[2019-09-24 03:25] DmitrySoshnikov commented on #188
Thanks for the report. Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/1cc59724c38d8d059cf89a26c293365419dc8d60 and `v0.1.14`.

[2019-09-24 03:25] #188 closed

[2019-09-24 15:05] nebrelbug commented on #188
@DmitrySoshnikov thanks! It's working great :smile:

Thanks for the amazing tool!

[2019-11-13 16:43] mikestopcontinues opened #198 "Bad replacement: `/(_|[^\s\w])/g` => `/([\s\w])/g`"
Hey, neither one of the changes suggested preserve the functionality of the pattern. I expect it to match everything except whitespace, letters, and numbers. The change almost completely inverts that.

`/(_|[^\s\w])/g` => `/([\s\w])/g`

I solved the problem with `/[^\d\sA-Za-z]/g`, which is ultimately easier to read. I would argue this might serve as the expected result in a test.

Running v0.1.11

[2019-11-14 05:01] DmitrySoshnikov commented on #198
Thanks for the report. Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/0fd2c68f880bd0f40f2beec9b64ef81ab4fffb80 and published in `v0.1.15`.

[2019-11-14 05:01] #198 closed

[2019-11-14 12:06] mikestopcontinues commented on #198
Apologies! Thanks!

[2019-11-15 01:49] DmitrySoshnikov commented on #180
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/9b75a48b819e958e4a6b40f9784577b704939c08 and in `v0.1.16`.

[2019-11-15 01:49] #180 closed

[2019-11-28 11:51] EvgenyOrekhov commented on #162
This issue especially affects those who enabled this ESLint rule: https://eslint.org/docs/rules/require-unicode-regexp.

[2019-11-30 16:25] brettz9 opened #199 "Option for disabling character class sorting in transformations"
Hi,

While I expect this might not be trivial given that the sorting presumably helps in building ranges, it would be very useful if this resorting could be optionally disabled.

In the project, `eslint-plugin-unicorn`, `regexp-tree` is being used to otherwise very helpful effect in the rule [`regex-shorthand`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/regex-shor

[2019-12-03 07:28] voxpelli commented on #199
Adding parts of my comment from the other issue:

I agree that this is problematic.

One part of it is that different languages sort characters in different ways. Eg. in Swedish `åäö` is last in the alphabet and in that order and this rule eg. wants to resort `åä` to `äå`. To makes matter even more complicated, German sorts those letters after their dot-less equivalents, so `ä` after `a` and `ö` a

[2019-12-03 19:49] DmitrySoshnikov commented on #199
Thanks, this makes sense. I have merged the PR, and also we can provide support for more granular options per-transform. E.g. for preserving the order in specific transform, instead of just fully disabling it. As a first step though, having the `blacklist` is a good option.

[2019-12-09 10:02] regseb commented on #162
Maybe the problem comes from this regular expression [`/^\\[^*?+\[()\\|]/`](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/generated/regexp-tree.js#L375). The list `*?+\[()\\|` contains the special characters that work. This code is generated from the [_regexp.bnf_](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/regexp.bnf#L129) file.

@DmitrySoshnikov

[2020-01-20 21:09] PopGoesTheWza commented on #163
Another erroneous sort/optimization:

[code]

Here the unescaped `-` should be first within the class. The actual result no longer match `b` or `y` (among others).

[2020-01-29 09:56] DarrenCook opened #201 "Can it be used to give Firefox/Safari full ES2018 Regex support?"
(My "issue" is documentation correction, and request for documentation clarification.)

The README, under lookbehind assertions is out of date:

It should say they were added in ES2018.

If you wanted to include more detail:

It is supported since Chrome 62, Opera 49, Edge 79, Node since 8 with --harmony flag (or Node 10 without any flags).
Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=122

[2020-01-29 12:43] davisjam commented on #66
## Summary

Reviving this based on the question in #201. I think it's possible to *simulate* lookbehind assertions using traditional regexes, though I'd welcome a second opinion.

## Simple approach won't work

Because these are zero-width assertions, they can't be transpiled with a trivial syntactic transformation as was initially proposed. For example,

- `/^x(?<=x)y/` would match the string `xy

[2020-01-31 06:24] DmitrySoshnikov commented on #201
@DarrenCook, thanks for reporting the issue with the README.

Yes, we should add it. I'll appreciate a PR for this, or will update it once reach it.

As to your main question: some things can be compat-transpiled, e.g. named capturing groups. Babel added support for it using regexp-tree at some point. There is also https://github.com/DmitrySoshnikov/babel-plugin-transform-modern-regexp which also

[2020-01-31 06:30] DmitrySoshnikov commented on #66
@davisjam, thanks, all good points. As you also correctly mention, this might be possible to some extent, however JS regular expressions go beyond simple NFA implementations (with capturing groups, back-references, etc).

It's a good theoretical field, however I didn't find yet to translate lookbehinds for all the cases in JS. _Probably_, we could allow translation this small subset, as long as it

[2020-01-31 18:40] DmitrySoshnikov commented on #163
Thanks, I'll take a look at this today.

[2020-01-31 18:51] DmitrySoshnikov commented on #163
This should be fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/db6865241e8ff044804e62869e9d091ce2e5b80d and published in `v0.1.18`. Please let me know if you find any issue there.

[2020-02-09 15:19] jhnns commented on #162
Would be really nice to get this fixed. It prevents us from using the `require-unicode-regexp` as @EvgenyOrekhov pointed out.

[2020-02-11 11:28] JounQin commented on #163
@DmitrySoshnikov Would you like to take a look for https://github.com/sindresorhus/eslint-plugin-unicorn/issues/499?

`/[\d-a-z]/` and `/[-\da-z]/` are different in damn JavaScript.

[2020-02-11 14:57] PopGoesTheWza commented on #163
Given `/[0-9\-a-z]/` as input, valid JavaScript compatible optimization would be `/[\d\-a-z]/`, `/[-\da-z]/` or `/[\da-z-]/`

Moving the unescaped dash to first or last position would be nice but is likely to require extra checks (i.e. negate range starting with a caret)

[2020-02-11 18:40] DmitrySoshnikov commented on #163
Thanks, I'll take a look.

[2020-02-12 21:51] DmitrySoshnikov commented on #163
OK, should be fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/8826c9e94323a918a4da01a1f2a83ab2d46e59c1, and in `v0.1.19`.

[2020-02-13 02:34] JounQin commented on #163
@DmitrySoshnikov Does it cover `[-\da-z]`?

![image](https://user-images.githubusercontent.com/8336744/74396240-59d78900-4e4c-11ea-9b8f-1f67688b7200.png)

[2020-02-13 04:23] DmitrySoshnikov commented on #163
ah, that's another one, OK, I'll take a look at `[-\da-z]`

[2020-02-13 04:32] JounQin commented on #163
@denisx And https://github.com/sindresorhus/eslint-plugin-unicorn/issues/477 🤣

[2020-02-20 05:09] DmitrySoshnikov commented on #163
@JounQin, OK, should be fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/091d4e9083abbc9f9573053d220c8a3db1fb3308 and in `v0.1.20`. Can you double-check please? I'll close the issue after it.

[2020-02-24 19:17] #163 closed

[2020-03-01 15:38] brettz9 opened #203 "Version incompatibility between npm and Git"
On Git, the `package.json` in `master` shows 0.1.19 (though there is a 0.1.20 tag) and npm has 0.1.20. Can I ask why this is the case?

Thanks!

[2020-03-01 22:50] DmitrySoshnikov commented on #203
Hm.. Thanks, yeah, seems a bad rebase/commit issue. The correct version should be 0.1.20. Can you send a PR please with updating to 0.1.20? Otherwise, I'll do this later once at laptop.

[2020-03-02 00:34] brettz9 commented on #203
Do you want me to rebase master onto the 0.1.20 tag?

[2020-03-02 03:41] DmitrySoshnikov commented on #203
Ah, I've pushed https://github.com/DmitrySoshnikov/regexp-tree/commit/a82ff3d039bc51e044e492b29ac8248bcd1ee61f which fixes it. Can you rebase please?

[2020-03-02 03:41] #203 closed

[2020-04-08 12:46] fisker opened #207 "Unnessary escape"
[code]

Should optimize to

[code]

https://github.com/prettier/prettier/pull/7991/files#diff-855523a43e898c253460fcf0f6e5f2a1R980

[2020-04-08 13:06] fisker commented on #207
`-` always sorted at last in CharacterClass, should be able to remove escape https://github.com/DmitrySoshnikov/regexp-tree/commit/091d4e9083abbc9f9573053d220c8a3db1fb3308

[2020-05-04 15:09] fregante opened #208 "`optimize` favors shortness over readability"
I use `regexp-tree` via [better-regex](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/better-regex.md) and found that some optimizations lead to less-readable output.

Similarly to #135, I'd argue that readability and shortness might not always overlap. I found this specific example, outputted by `regexp-tree`

[code]

Can you guess what the expected match looks like

[2020-05-09 04:51] DmitrySoshnikov commented on #208
@fregante, thanks for the report. Yes, I see how optimizer may lead to less readable outputs, however, the resulting regexp object in this case is still would be more optimized from the regexp engine perspective (handling simple sequence should be faster in general, than handling a sequence of character classes).

To support your use case specifically, optimizer [supports](https://github.com/Dmitr

[2020-05-09 10:36] fregante commented on #208
Ideally though at linting time I get both `[\d] -> \d` and `\/ -> [/]` (I’d like to see this specifically) because they optimize for readability.

Then at build/minification time you could apply any changes that conflict with readability but improve speed and size.

The first would be called by `eslint` and the second one would be called by Webpack, terser etc.

Since `optimize` is already customi

[2020-06-12 21:53] fregante commented on #208
Another everyday example:

[code]

👆 Readable

[code]

👆 Nonsense, longer

Strangely this only happens if I include that `[^/]+\/`. If it's not there, it's not optimized

---

Tested on [RunKit](https://npm.runkit.com/regexp-tree)

[code]

[2020-08-17 16:34] ghnp5 opened #210 "Installing plugin for ESLint"
Hello,

I ran these:

[code]

(already had ESLint installed)

Then added these to config:

[code]

`"optimize-regex/optimize-regex": "error",`

But I'm getting the following error in output:

Any ideas what could be causing this?
I'm using VSCode.

[2020-09-04 16:50] ghnp5 commented on #210
This is resolved.
The problem is that I had this setting in my VSCode workspace:

    "eslint.options": { "configFile": "..\\myproject\\.eslintrc.json" },

[2020-09-04 16:50] #210 closed

[2020-09-04 17:12] ghnp5 opened #211 "Blacklist sub-rules of Transforms"
Hello,

Is there a way to disable sub-rules of transforms, without disabling the whole transform?

For example, I don't want to disable all "charEscapeUnescape", but only the sub-rule for "]".

    /\[quote\]/

For readability, I don't want to optimize to `/\[quote]/`.
But fo all other unnecessary escapes, I want optimizations.

Also, similar for "charClassToMeta". Is there a way I could disable o

[2020-09-05 02:38] DmitrySoshnikov commented on #211
@ghnp5, indeed, it might be a part of #208.

I think the [optimize](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/optimizer/index.js#L30) method may accept `perTransformOptions` map, and each individual transform will be able to work with its specific options.

In particular, the caller may look like:

[code]

Then the corresponding transforms have to be updated to accept those op

[2020-09-05 14:32] hg42 opened #213 "Parser: (re)allow duplicate group names (e.g. move the check out of the parser)"
I am currently revisiting my uxregexp extended regexp module after quite a long time. I use the regexp-tree to parse the extended regexp. However I noticed, you reject duplicate group names now, which breaks my algorithm.

Please see issue #142, where you forced group names to be unique.

As an old perl user, I am not sure, if the mentioned proposal at https://tc39.es/proposal-regexp-named-groups/

[2020-11-23 17:24] coderaiser opened #214 "Question about Optimization"
Thank you for a library with such hight quality :). I just integrated `regexp-tree` into [Putout linter](https://github.com/coderaiser/putout/tree/master/packages/plugin-regexp), [run it on my code](https://github.com/coderaiser/putout/commit/23151e22b668f5260e800a301b37340e7d12611a), and had seen a strange optimization:

[code]
Could you please tell me is it more optimized `regexp` or it's a bug?

[2021-01-02 16:58] Cherry opened #216 "Broken optimize with multiple optional whitespace `\s`"
This was first noticed in https://github.com/sindresorhus/eslint-plugin-unicorn/issues/994

Optimising `/\s?\s?/` results in an invalid regexp:

[code]

The optimized result is `/\s?{2}/`, which isn't valid and throws a `Invalid regular expression: /\s?{2}/: Nothing to repeat` error. I believe `\s{0,2}` would be the correct optimization here.

[2021-01-12 11:53] FloEdelmann opened #217 "Optimization breaks "match all" in multiline regexps"
This regexp is optimized like this:

[code]

This breaks the regex:

* `(.|\n)` means "any character, including a newline character"
* `[.\n]` means "a period character or a newline character"

See https://github.com/sindresorhus/eslint-plugin-unicorn/issues/895.

[2021-01-17 18:52] Cherry commented on #216
On further investigation, this appears to impact a lot of character classes:

`/\w?\w?/` for example, as well as `\r`, `\n`, `\v`, etc.

[2021-01-17 23:27] DmitrySoshnikov commented on #216
Thanks for the report, I'll try to take a look sooner in this issue, and would appreciate a PR in case 😄

[2021-01-18 08:22] DmitrySoshnikov commented on #216
In fact, to avoid syntax error that should be wrapped into non-capturing group -- `/(?:\s?){2}/`, at which point I'm not sure if it's a good optimization. The easiest way is just to skip these classes from optimization, or (more complicated) -- to wrap them into the non-capturing group as long as they are repeated more than two times.

[2021-01-18 09:37] DmitrySoshnikov commented on #216
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/0421d57324defe30ff15a5dbb5af5c08f751a795 and `v0.1.22`.

[2021-01-18 09:37] #216 closed

[2021-01-20 05:19] DmitrySoshnikov commented on #217
Thanks, I'll take a look. Also will appreciate a PR if you reach it earlier.

[2021-01-20 05:20] DmitrySoshnikov commented on #214
Thanks for the feedback! As to the optimization: yes, this seems is a consequence of optimizing character classes, and sorting the chars as a side effect.

[2021-01-20 05:31] DmitrySoshnikov commented on #213
@hg42 yes, I think the example you show is really useful. I'll need to double-check why ES spec chose check against duplicate group names (the use-case with alternative makes perfect practical sense), but it really should throw as a "syntax error".

This is from JS:

[code]
Maybe it's worth allowing in a special parsing mode, like `--mode perl` or something.

[2021-01-20 11:56] hg42 commented on #213
thanks for answering...

well "perl" would be a big claim...perl regexps are quite a lot more (I never got on par with all the useful features).

I think, providing some options for such simple cases would be good.
Something like option sets would be another nice feature. So, one could gather some options and set them all at once. Some sets could be part of the distribution.
I understand, having t

[2021-01-20 20:58] DmitrySoshnikov commented on #213
@hg42, yeah, I think this would make sense for ECMAScript itself eventually, and for now we can probably add `--loose-mode` parse option, which would allow some some features. Alternatively these could be specific [options](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/parser/index.js#L21):

[code]

[2021-01-20 23:28] hg42 commented on #213
yes, --loose-mode looks good and the way specific options are added.
I assume they would merge with the defaults?

[2021-01-21 00:44] DmitrySoshnikov commented on #213
Here's some context on the ES spec https://github.com/tc39/proposal-regexp-named-groups/issues/44 and potentially we can fix it in the spec itself (CC @littledan, @mathiasbynens).

[2021-01-21 01:56] andruo11 opened #218 "Escaped hyphen in character class"
When the unicode flag is set, escaped dashes in a character class result in an "invalid Unicode sequence" error. See snippet for an example, /a[a\-z]/u
[https://astexplorer.net/#/gist/4ea2b52f0e546af6fb14f9b2f5671c1c/49dafda5429858220f62387740fd4226cdc3dde0](https://astexplorer.net/#/gist/4ea2b52f0e546af6fb14f9b2f5671c1c/49dafda5429858220f62387740fd4226cdc3dde0)

[2021-01-21 04:52] DmitrySoshnikov commented on #218
Thanks, I'll take a look, and will appreciate a PR if you reach it earlier.

[2021-01-21 05:33] DmitrySoshnikov commented on #213
Fixed in https://github.com/DmitrySoshnikov/regexp-tree/commit/e833b705681a1e7358ad6364573325841debf94a and available in `v0.1.23`.

[2021-01-21 05:33] #213 closed

[2021-01-21 07:50] andruo11 commented on #218
I can't quite decode how to fix it, but the problem's on line 375 of regexp-tree/src/parser/generated/regexp-tree.js

[2021-01-21 08:05] andruo11 commented on #218
I'm kind of a Github newbie and don't know how to make a PR, but it looks like the character class on that line just needs a dash at the end.

[2021-01-21 08:19] andruo11 commented on #218
Although, Regexr throws the same error in Unicode mode: [https://regexr.com/5kn5o](https://regexr.com/5kn5o)

[2021-01-22 14:08] andruo11 commented on #218
I think I figured it out! Insert at line 377
`if (s === 'u_class' && yytext.slice(1,1) == "-") return 'ESC_CHAR'`

[2021-01-22 14:34] hg42 commented on #213
thanks for the work...
And also for the pointer to the proposal, I also commented there.

[2021-01-22 21:01] andruo11 opened #219 "meta characters shouldn't be allowed in char ranges"
When I parse the regex `/[\w-z]/` it should throw an error, but instead parses as a regular character range with \w at the beginning. [https://astexplorer.net/#/gist/124dd2c7d464e3cf68b532bf8dacae7f/01a86f60e792112367c9395cf1094b5806dcaab1](https://astexplorer.net/#/gist/124dd2c7d464e3cf68b532bf8dacae7f/01a86f60e792112367c9395cf1094b5806dcaab1) If I figure out how to fix it I'll let you know!

[2021-01-22 21:19] andruo11 commented on #219
...and ditto for Unicode properties like `/\p{P}-z/u`

[2021-01-25 22:59] DmitrySoshnikov commented on #219
Thanks for the report, yeah, the `/[\w-z]/.test('-')` should actually be parsed as a char class containing `\w`, `-` and `z`.

[2021-01-25 23:59] andruo11 commented on #219
Is your reference another parser in the AST explorer, or JS itself? and if JS, how do you know the internal structure? My parents think I should learn more about this topic, and if I’m going to help out, I should probably figure out how to make a good pull request.

From: Dmitry Soshnikov <notifications@github.com>
Sent: Monday, January 25, 2021 3:00 PM
To: DmitrySoshnikov/regexp-tree <regexp-tree

[2021-01-28 04:40] brettz9 opened #220 "Raw bracket not reported"
Hi,

[code]

This should I think throw a `SyntaxError` as it does when running the code.

Thanks!

[2021-02-25 05:48] brettz9 commented on #219
Seems `/[\p{P}-z]/u` is at least throwing now even while `/[\w-z]/` isn't.

[2021-03-24 22:12] tjenkinson opened #222 "Incorrect results when quantifier range unsafe integer"
E.g
[code]

gives

[code]
Note `9007199254740992` not `9007199254740993`.

I wonder if the parser should throw if `!Number.isSafeInteger(x)`?

[2021-03-24 22:13] tjenkinson commented on #222
Or if numbers this size are actually handled by engines(?) maybe we should also expose a string version of the number

[2021-03-25 05:52] DmitrySoshnikov commented on #222
Thanks, yeah, this is a weird edge-case. An agual JS regexp is actually generated with correct number `/a{9007199254740993,9007199254740993}/`, so from the code generator perspective it might be good to support it.

We can probably check if the number is safe, store the number, otherwise a string. Or add the new string fields as you suggests (not obvious though what will be kept in the number fiel

[2021-03-25 18:28] tjenkinson commented on #222
Maybe [Bigint](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) could help here? Although it's complicated with it not being supported everywhere.

Could be something like:
- `from: number | null`
- `fromBigInt: bigint` (if device supports big int)
- `fromString: string`

[2021-03-25 23:10] DmitrySoshnikov commented on #222
Yeah, we need something predictable and working on most of the case. I think we can just make types of the `from` and `to` fields to be strings, since we need to support correct code generation, back from having AST.

[2021-03-29 22:50] coderaiser opened #224 "Invalid regular expression: /\${[^}]+}/: Incomplete quantifier"
After optimization: `/\$\{[^}]+\}/u` -> `/\${[^}]+}/u`, I have `Invalid regular expression` error:

[code]

[2021-03-30 02:28] DmitrySoshnikov commented on #224
Thanks for reporting. Yes, this relates to the `/u` flag specifically, without it it's a valid regexp. Will take a look at this later and will appreciate a PR if you reach it earlier.

[2021-04-01 12:26] coderaiser commented on #224
Looks like it is related to #162

[2021-04-04 19:37] DmitrySoshnikov commented on #224
@coderaiser interesting, seems the wrapper for `optimize` [wasn't updated](https://github.com/DmitrySoshnikov/regexp-tree/blob/master/src/regexp-tree.js#L126-L128) to accept the object instead.

Feel free to send a PR for this, although we should make sure to support backward compatibility here, so you can check for the type of the `whitelist` parameter. Something like:

[code]

[2021-04-13 09:17] tjenkinson opened #225 "Unicode in input string is not handled"
[code]
parses differently to
[code]
The first is becoming 2 chars `\ud83d` and `\udc4d`.

I might try and detect any unicode in the input string and error out if that's the case, but wondering if this lib can handle both the above the same, or maybe error?

[2021-04-13 09:46] tjenkinson opened #226 "`UnicodeProperty` node type missing from types"

[2021-04-13 14:55] tjenkinson commented on #225
Trying to get an understanding of how the string encoding works but I think a

[code]
check should catch high/low surrogate pair code points, which are what we'd want to throw an error for if it's not possible to switch them to the `\u{x}` representations.

[2021-04-13 15:59] tjenkinson commented on #225
Wondering if there is a spec somewhere that says how to handle unicode characters actually.

I.e. that says `/👍/u` _should_ be translated to `/\u{1f44d}/u`. It does seem to be what Chrome does.

e.g.

[code]
[code]

I think because `𝌆` was converted to `<code point 1><code point 2>+`
[code]

[2021-04-13 19:19] tjenkinson commented on #225
I think a fix for this could be changing the generated code to be

[code]
instead of
[code]

when the `u` flag is enabled on the input. _Not sure how to do that yet_

This causes `_match` to return a surrogate pair as is instead of slicing it in two, and the cursor seems to be updated correctly because `this._cursor += match.length` handles it being 2.

With this change
[code]

becomes
[code]
whic

[2021-04-14 06:47] DmitrySoshnikov commented on #225
@tjenkinson thanks for the report and investigation, I think the change looks reasonable. @mathiasbynens, what are your thoughts on this?

Also, yes, when `u` is not enabled, the `charCodeAt` might be a good alternative.

[2021-04-15 15:34] mathiasbynens commented on #225
The `u` flag indeed acts as an opt-in to using code points as the character boundary, instead of UCS-2/UTF-16 code units (without the `u` flag). I wrote about that here along with some examples: https://mathiasbynens.be/notes/es6-unicode-regex

[2021-04-28 21:50] urchick opened #227 "optimizer incorrectly proposes rewrite .|[\r] as [.\r]"
optimizer proposes replacing `.|[\r]` with `[.\r]` which is obviously incorrect as `.` plays different roles in these contexts

[2021-04-29 17:54] DmitrySoshnikov commented on #227
@urchick thanks for the report, seems disjunction merger should escape the `\.`. I'll take a look, and will appreciate a PR for this in case.

[2021-07-12 08:57] MangaD commented on #69
Waiting for the fix. :)

[2021-07-26 11:34] EvgenyOrekhov commented on #224
One more minimal reproduction:

`/\]/u` -> `/]/u`: `Lone quantifier brackets`

[2021-07-26 16:26] DmitrySoshnikov commented on #224
@EvgenyOrekhov thanks for the extra example. I won't appreciate a PR fixing this issue if you'd like to come up with one.

[2021-11-10 14:45] jlherren opened #235 "Feature request: Make charClassClassrangesMerge do nothing if no ranges could be merged"
I'm using `eslint-plugin-optimize-regex` and I would prefer `[-\w]` to *not* be transformed into `[\w-]`. This seems to be caused by `charClassClassrangesMerge`, which obviously I could just blacklist. But it would be neat if I didn't have to and this transform would simply do nothing if no ranges were successfully merged. Perhaps the sorting could be added as a separate transform, which I could t

[2021-11-19 21:46] Uzlopak opened #236 "Optimizer creates unsafe Regex?"
Example:
`/^(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[1-9])\.)(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){2}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])$/i`
is optimized to

`/^(?:25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|[1-9])\.(?:(?:25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)\.){2}(?:25[0-5]|2[0-4]\d|1\d{2}|[1-9]\d|\d)$/i`

The first is considered a safe regex by safe-regex, the se

[2021-11-20 03:06] DmitrySoshnikov commented on #236
Hi @Uzlopak, thanks for reporting. I'm curious which specific part is considered unsafe here? First we need to check if a valid regexp is generated as part of the optimizer, and then see the unsafe part and how we can transform it better. I'll appreciate a PR for this issue.

[2021-12-16 11:42] fisker opened #237 "Incorrectly rewrite `/[a^]/` to `/[^a]/`"

[2021-12-17 10:05] B2o5T commented on #237
Autofix should either add backslash or do not put `^` to start because this is breaking change

[2021-12-21 19:35] coderaiser opened #239 "Broken optimization `/^[\p{Mc}\p{Me}\p{Mn}]$/` -> `/^[Mcen\p{}]$/`"
[code]

Or

[code]

[2021-12-21 19:49] coderaiser commented on #239
Also when trying to optimize ` /^[\p{Mc}\p{Me}\p{Mn}]$/u`:

[code]

[2021-12-24 20:36] DmitrySoshnikov commented on #239
@coderaiser – thanks for reporting. I'll appreciate a PR on fixing this issue. CC @Golmote

[2022-04-21 20:51] datamoon commented on #69
This could be fixed with a two-pass approach:
- a quick pass 1 that only collects group numbers and names, and
- a full pass 2 that can start with knowledge about all available group names and numbers found in pass 1.

[2022-04-26 13:49] coderaiser opened #241 "False positive on optimize"
From deepscan.io:

[code]

After transforming `[a-zA-Z]`

[2022-05-05 10:03] Jabher opened #243 "Another false-positive: `effect` => `ef{2}ect`"
When using optimiser, I'm getting this weird useless optimisation: `effect` => `ef{2}ect`